
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
       
    <div id="page">
        <h1>Bienvenido Villaldama</h1>
       

    <div class="intro">
        Villaldama se reconoce por su ojo de agua y sus albercas
    </div>
    <center>
        Lugar Tur&iacute;sticos.<br>

    </center>
    <center>
        <img style="margin:12px 0 12px 0;" src="img/ojo.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
</div>
Ubicaci&oacute;n.<br>
Se localiza en la parte norte del estado, en las coordenadas 100 25' longitud oeste y 26 30' de latitud norte, a una altura de 420 metros sobre el nivel del mar. Limita al norte con el municipio de Lampazos de Naranjo y al sur con Salinas Victoria; al oriente con Sabinas Hidalgo y al poniente con Bustamante.
<center>
    <img style="margin:12px 0 12px 0;" src="img/villa.jpg" width="250" height="300" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>
papele
</div>
<center>
    Artesanias<br>
    Se realiza la cester&iacute;a hecha a base de carrizo. El pan casero
</center>
<center>
    Flora
    <br>
    Se encuentra el encino, huizaches, u&ntildea de gato, chaparro prieto, granjeno, cenizo, anacahuita, maguey,tasajillo, biznaga etc..
</center>
<center>
    Fauna <br>
    Se encuentra el le&oacute;n americano, oso negro, jabal&iacute;, gato mont&eacute;s y venado que habitan en la sierra; el lobo y el coyote, zorrillo, liebre,conejo etc..
</center>
<center>
    
    Fiestas y danzas tradicionales<br>
    Del 25 de abril al 3 de mayo, fiesta religiosa en honor a la Santa Cruz en la cabecera municipal.
</center>
<center>
    <img style="margin:12px 0 12px 0;" src="img/dama.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>

<center>
    <a href="index2.php"><font color="#black">REGRESAR A LA PAGINA PRINCIPAL</font></a><br>
</center>

</body> 
