
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azulhidalgo.php";
    ?>
    <div id="page">
        <h1>Bienvenido </h1>
        <?php
    include "include/compartir.php";
    ?>



</div><b>
    Ubicaci&oacute;n.
</b> <p>Se encuentra en las siguientes coordenadas:
<p>
    El municipio de Hidalgo, N.L. está situado en el centro del estado en los 99º26' latitud norte y 25º59' longitud oeste del meridiano de Greenwich. Al norte limita con los municipios de Mina y Salinas Victoria; al oriente con Salinas Victoria, Abasolo y El Carmen; al sur con General Escobedo y Villa de García; al poniente con el municipio de Mina. Su altura al nivel del mar es de 549 metros.
</p>


<center>
    <img style="margin:12px 0 12px 0;" src="~/hidalgomapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>


<center>
   <b>Principales Ecosistemas</b>
    <br>

    <p>
        Flora
    </p>

    <p>La flora predominante es el anacahuita, el mezquite, el huizache, la palma y la gobernadora entre otras.</p>

    <p>Fauna</p>

    <p>La fauna está integrada por animales monteses como el uro, tlacuache, zorra, coyote, tejón, oso, leopardo y gato montés.</p>

</center>



<center>
    
    <b>
        Fiesta Danza y tradicionales<br>
        Fiestas Populares
    </b>
    <p>
        Feria del Cemento (variable)
        Fiestas Patrias: 5 de mayo, 16 de septiembre y 20 de noviembre
    </p>



    <p>Fiestas Religiosas: 8 de diciembre "Nuestra Señora del Pueblito", Patrona de Nuestro Pueblo y 12 de diciembre en la Capilla de la Virgen de Guadalupe</p>

    <center>
        <img style="margin:12px 0 12px 0;" src="~/hidalgo1.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
        <img style="margin:12px 0 12px 0;" src="~/hidalgo2.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
    <p>
        <b>
            Museos
        </b>
    </p>
    <p>
        El Museo de la Hacienda de San Pedro contiene más de III siglos de historia de la agricultura y la ganadería de la región, fue una fortaleza contra los indios comanches desde los fines del siglo xviii se exponen fotografías y herramientas antiguas de trabajos, así como la reconstrucción total de la hacienda.
    </p>
</center>

<center>
    
    <b>
        Gastronomía
    </b><br>
    <p>
        Cabrito al pastor
        Fritada
        Pan de harina con levadura: semitas, molletes, polkas, empanadas de cajeta de calabaza.
    </p>
    <p>

</center>

<center>
    
    <b>
        Centros Turisticos<br>
    </b>
    <p>
        Paseo recreativo "Potrero Chico" Albercas, chapoteaderos, palapas, juegos infantiles.

    </p>


</center>
<center>
    <img style="margin:12px 0 12px 0;" src="~/hidalgomontaña.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>

</body> 
