@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
       
    <div id="page">
        <h1>Bienvenido </h1>
        


    <center>
        Lugar Tur&iacute;stico.<br>
        Los principales atractivos turísticos de esta región son los paseos del Nogalar, zona cubierta de frondosos nogales donde existe un magnífico balneario con las instalaciones necesarias; también la Presa de Agualeguas, que es ideal para practicar el esquí acuático, pasear en lancha y pescar róbalo, bagre, mojarra y sardina; además los alrededores ofrecen a los cazadores, durante la temporada invernal, abundante pato de Canadá..<br>
    </center>
    <center>
        <img style="margin:12px 0 12px 0;" src="~/puente.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
</div>
Ubicaci&oacute;n.  El municipio de  Laguna Salinillas , Se ubica al noroeste del estado en la región denominada llanura costera del Golfo. Limita al norte con Paras, al sur con General Treviño, al este con el estado de Tamaulipas y al oeste con Sabinas Hidalgo. La cabecera municipal se encuentra en las coordenadas 26º 19' de latitud norte y 99º 32' de longitud oeste a una altura de 180 msnm.<br>


<center>
    <img style="margin:12px 0 12px 0;" src="~/anahuac.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>

<center>
    <b>
        Artesanias
    </b><br>
    <p>
        Sobresalen sus trajes típicos a pesar de ser uno de los municipios más jóvenes del Estado. Anáhuac tiene influencias culturales recientes, de los pobladores que lo fundaron. Su traje representativo tiene las características de los vestidos de gala de la región del bajío.
    </p>
    <p>
        El traje de una sola pieza se ciñe a la cintura y está confeccionado en razo blanco (que simboliza el cultivo de algodón)Posee falda larga circular y sin pliegues que se acompaña por un aro y una crinolina que le permiten una estructura bombachada. <br>
    </p>
</center>

    <center>
        <b>
            Flora
        </b>
        <br>
        La flora en este municipio corresponde a un clima seco cuya vegetación característica es de estepa (serófilas y xerófitas), las cuales resisten grandes oscilaciones térmicas. Entre algunas de las maderables están el mezquite, huizache, chaparro prieto, granjero y gobernadora. En cuanto a las no maderables existe gran cantidad de plantas, siendo algunas de ellas lechuguilla, biznaga, etcétera.
    </center>
    

    <center>
        <b>
            Fauna
        </b> <br>

        En cuanto a la fauna, las principales especies que existen son: venado cola blanca, jabalí, tejón, gato montés, mapache, zorrillo, coyote, liebre, conejo, tlacayote, tlacuache, armadillo, aguililla, gavilán, tecolote, paloma ala blanca, halcón y codorniz.

    </center>
    <b>
        Recursos Naturales
    </b>
    <br>
    <p>
        Los principales recursos naturales del municipio están representados por su variada flora y fauna además de sus ríos y parajes entre los que sobresale por ser uno de los municipios más irrigados en todo el estado. A la izquierda de la cabecera municipal corre el río Salado, afluente del Bravo, que cruza el municipio de sureste a suroeste.


    </p>
    <p>
        El sistema de riego de la presa de don Martín que se encuentra sobre el río Salado, así como sus diversos arroyos y lagunas, convierten al municipio en Centro agrícola de primer orden.
    </p>
    <br>
    <center>
        <b>
            Monumentos Historicos
        </b><br>
        El primer monumento erigido a la madre en el país, está ubicado en la Cabecera municipal; así como el monumento del general Lázaro Cárdenas y el Obelisco de los Fundadores, en el que convergen los puntos cardinales, orna la fuente al centro de la plaza principal de Ciudad Anáhuac.<br>
    </center>
    <center>
        <img style="margin:12px 0 12px 0;" src="~/anahuacmonumento.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
    <center>
        <b>
            Fiesta Danza y tradicionales
        </b><br>
        Se conmemora el día del trabajo el primero de mayo con un desfile cívico; el cinco de mayo se celebra la fundación del municipio con verbena popular y eventos cívicos; el 15 y 16 de septiembre se lleva a cabo un desfile cívico y una noche mexicana; el 12 de diciembre, día de Nuestra Señora de Guadalupe, se le llevan mañanitas a la virgen y se efectúan danzas en honor de ésta. <br>
    </center>




    <center>
        <b>
            Centro Tutísticos
        </b><br>
        <p>
            La Laguna de Salinillas y la presa Venustiano Carranza representan los principales centros turísticos del municipio.
        </p>
    </center>

    <center>
        <img style="margin:12px 0 12px 0;" src="~/hidrografia.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
    </body>
    