
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azuljuarez.php";
    ?>
    <div id="page">
        <h1>Bienvenido </h1>
        <?php
    include "include/compartir.php";
    ?>



</div><b>
    Ubicaci&oacute;n.
</b> <p>El municipio se encuentra al este de Monterrey, en su área metropolitana, en las coordenadas 25º39' de latitud norte y 100º05' de longitud oeste a 403 metros sobre el nivel del mar. Limita al norte con Pesquería, al sur con Santiago, al este con Cadereyta Jiménez y al oeste con Guadalupe.<p>


    <center>
        <img style="margin:12px 0 12px 0;" src="~/juarezmapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
    <br>

</div>


<center>
    <b>Principales Ecosistemas</b>
    <br>

    <p>
        Flora
    </p>

    <p>La flora se compone de huizache, barreta, ébano, cenizo y palmas.</p>

    <p>Fauna</p>

    <p>La fauna se integra por tlacuache, coyote, jabalí y conejo.</p>

</center>



<center>
    
    <b>
        Fiesta Danza y tradicionales
    </b><br>
    <p>
        El 7 de octubre se celebra el día de la Virgen del Rosario, patrona del municipio.
        Como tradición se tiene la quema del castillo y una verbena popular, feria anual con coleaderas y carreras de caballos.
    </p>
    <center>
        <img style="margin:12px 0 12px 0;" src="~/juarezcasa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
    <p>
        <b>
            Museos
        </b>
    </p>
    <p>
        Cuenta con una Casa de la Cultura.
    </p>
</center>

<center>
    
    <b>
        Gastronomía
    </b><br>
    <p>
        Alimentos: Tamales, chorizo y queso.
        Dulces: El piloncillo.
        Bebidas: Agua de miel de caña.
    </p>

</center>

<center>
    
    <b>
        Centros Turisticos<br>
    </b>

    <p>Paseo natural Charco Azul, ubicado en San Roque, Paseo natural faldas del Cerro de la Silla. Plaza de Armas de Juárez, Deportivo Bancario, Deportivo Sindicatos Independientes.</p>

    <p>Posada Vacacional Deportivo SUSPE (Sindicato Único de Servidores Públicos delEstado), unidad deportiva en márgenes del río Santa Catarina.  </p>



</center>

<center>
    <img style="margin:12px 0 12px 0;" src="~/juarez1.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
   

</body> 
