
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
      
    <div id="page">
        <h1>Bienvenido </h1>
        



</div><b>
    Ubicaci&oacute;n.
</b> <p> El municipio de El Carmen se localiza al noreste de la ciudad de Monterrey, en la región denominada Llanura Costera del Golfo. Se encuentra en las coordenadas 20º36' latitud norte y 100º21' longitud oeste, a una altura de 446 metros sobre el nivel del mar. Limita al norte y oriente con Salinas Victoria, al sur con General Escobedo y al oeste con Abasolo e Hidalgo.</p>


<center>
    <img style="margin:12px 0 12px 0;" src="~/cadeytamapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>


<center>
    <b>Flora</b>
    <br>

    <p>
        Anacahuita, cenizo, uña de gato. Ébano y mezquite.
    </p>
    </center>

    <center>
        <b>
           Fauna
        </b> <br>

        Tejón, tlacuache, víbora de cascabel, cenzontle y cuervo.
    </center>

   <b>
        Monumentos Historicos
    </b><br><p>
        Templo de Nuestra Señora de Guadalupe, ubicado en la cabecera municipal, con una antigüedad de más de 200 años. El edificio es el de una nave, con el campanario y la sacristía hacia el poniente.
    </p>

    <p>La torre del campanario es cuadrangular de dos cuerpos, cubierta por una cúpula octagonal con linternilla y veleta; templo de la Virgen de la Cueva, que se encuentra en la Hacienda del Jaral.</p>

    <p>Templo de la hacienda de los González y junto a éste, el ruedo donde antiguamente se hacían corridas de toros y jaripeos; las glorietas, que adornan la plaza, por ser casi las únicas que quedan en el estado, fueron construidas en 1870.</p>


    <p>Históricos.- En la plaza de Juárez se encuentra un busto del Lic. Benito Juárez, en el Parque Miguel Hidalgo se halla la escultura del Padre de la Patria y un monumento a los fundadores de la ciudad de Doctor Arroyo.</p>
    <center>
        <img style="margin:12px 0 12px 0;" src="img/carmeniglesia.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>

    </center>
    <center>
        
        <b>
            Fiesta Danza y tradicionales<br>
            Fiestas Populares
        </b>
        <p>
            El 5 de febrero se celebra la erección en villa del municipio. Se instituyó por primera vez en el año de 1986 la feria industrial de la nuez, enmarcándose dentro de las celebraciones de la Virgen de la Cueva; el 15 de septiembre noche mexicana y el tradicional Grito de Independencia; el 20 de noviembre hay desfile de carros alegóricos.
        </p>

        <p>El 8 de septiembre, en las fiestas de la Virgen de la Cueva, en el Jaral, se acostumbra llevar a la virgen lo mejor de la cosecha, consistente en: caña de azúcar, maíz, nuez, calabaza, etc., asimismo una ofrenda floral por parte de la cabecera municipal.</p>

        <p>Se celebra misa al aire libre, siguiendo una verbena popular con bailes, pólvora, juegos pirotécnicos y venta de antojitos de la región. Las campanas de la iglesia sirven como pregoneras de acontecimientos importantes como son: doblar al muerto (cuando una persona fallece), asimismo se doblan las campanas en las ceremonias religiosas y civiles.</p>

        <center>
            <img style="margin:12px 0 12px 0;" src="~/carmenparque.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>

        </center>
        <p>
            <b>
                Museos
            </b>
        </p>
        <p>
            Se encuentra en fase de recopilación de objetos históricos en el centro cultural Juan Bautista Chapa se tienen dos salas destinadas para la instalación de exposiciones temporales.
        </p>
    </center>

    <center>
        
        <b>
            Gastronomía
        </b><br>
        <p>
            Chicales, tasajo, tortillas de trigo y harina.
        </p>
        <p>

    </center>

    <center>
        
        <b>
            Centros Turisticos<br>
        </b>
        <p>

            Esta población dispone de un parque zoológico ubicado en la cabecera municipal, así como un terreno de 60 hectáreas que en época de lluvias almacena agua en un raso de tres hectáreas, el cual es visitado para la recreación.
        </p>

        <p>En la Sierra de Minas Viejas, se encuentran localizados, a cinco kilómetros de la cabecera municipal, lo que fueron fundos mineros; El Rosario, Santo Cristo y San Juan, principal fuente de ingresos de los habitantes hasta 1895. El río Salinas constituye un lugar de esparcimiento, pues se acostumbra acampar y bañarse en sus orillas.</p>


    </center>
    <b>
        Artesanias
    </b><br>
    <p>

        Esculturas.- El Cristo, de gran tamaño, cuyo valor artístico es incalculable por su antigüedad.
    </p>

    <p>Pinturas.- De la Virgen de Guadalupe que adorna el altar del templo de la cabecera municipal, cuya antigüedad se desconoce.</p>


    <center>
        <a href="index2.php"><font color="#black">REGRESAR A LA PAGINA PRINCIPAL</font></a><br>
    </center>

</body> 
