
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
       
    <div id="page">
        <h1>Bienvenido Vallecillo</h1>
       

    <div class="intro">
        Vallecillo,N.L. es muy reconocido por su Santuario de San Carlos de Borromeo.
    </div>
    <center>
        Lugar Tur&iacute;sticos.<br>
        La Casa de la Plomada de extraordinario atractivo tur&iacute;stico, por su perfecto trazo
    </center>
    <center>
        <img style="margin:12px 0 12px 0;" src="img/Viglesia.jpg" width="620" height="400" alt="Imagen para el intro" title="Vallecillo"><br>
    </center>
</div>
Ubicaci&oacute;n.<br>
Parte norte del estado de Nuevo Le&ocute;n, teniendo como coordenadas 26 40' latitud norte y 99 58' longitud oeste a una altura de 274 metros sobre el niel del mar.
Limita al norte con Lampazos de Naranjo y An&aacute;huac; al sur con Sabinas Hidalgo y Agualeguas; al este con el municipio de Par&aacute;s, al oeste con Lampazos y Sabinas Hidalgo.
<center>
    <img style="margin:12px 0 12px 0;" src="img/mapaV.jpg" width="250" height="300" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>

<center>
    Flora
    <br>
    Predomina el mezquite, chaparro prieto, anacahuita, nopales, coma, palma, huizache, cenizo, cubreviento, fresno, &aacute;lamo, maguey, granjeno, sabino, canelo, chapote, barreta, palo blanco, encino, anacua y u&ntilde;a de gato.
</center>
<center>
     <br>Fauna
    En cuanto a la fauna est&acute; integrada por jabal&iacute;, venado cola blanca, tej&ocute;n, coyote, zorra, comadreja, tlacuache, armadillo, conejo, liebre, ardilla, gato mont&eacute;s, tlacayote, zorrillo y rata de monte.
</center>
<center>
    
    Fiestas y danzas tradicionales<br>
    El 3 de mayo la poblaci&oacute;n festeja el d&iacute;a de la Santa Cruz
</center>
<center>
    <img style="margin:12px 0 12px 0;" src="img/Vallecillo.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>

<center>
    <a href="index2.php"><font color="#black">REGRESAR A LA PAGINA PRINCIPAL</font></a><br>
</center>


</body> 
