@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azullosherrera.php";
    ?>
    <div id="page">
        <h1>Bienvenido</h1>


        <br>
        <div class="intro">
            Este municipio pertenece a las villas fundadas en el siglo XIX siendo su motivo de fundación principalmente la explotación de recursos ganaderos.

            <br>El municipio cuenta con algunos monumentos ubicados en la plaza de armas, erigidos en honor al Lic. Benito Juárez y a don Miguel Hidalgo y Costilla.



        </div>
        Lugar Turistico.<br>
        En el municipio se cuenta con parajes estupendos para acampar, así como con la presa Diego López, ubicada al noroeste de la cabecera municipal.
        

        <br> <center><img style="margin:12px 0 12px 0;" src="~/Losherrera1.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"></center><br>



    </div>
    Ubicación.<br>
    <br>
    El municipio de Los Herreras se localiza al noreste de la ciudad de Monterrey en la región Llanura Costera del Golfo, precisamente en la parte centro-oriental del estado en las coordenadas de latitud norte 25º53' y de longitud oeste 99º33' a 281 metros sobre el nivel del mar.

    <br>Colinda en la parte norte con Melchor Ocampo, al sur Los Ramones, al este Los Aldama y al oeste con Cerralvo y Los Ramones.




    <div>
        <br>Flora 
        La flora se compone de zacate, huizache, nopal, retama, chaparro prieto y cenizo.
    </div>


    <div>
        <br>Fauna 
        La fauna está integrada por gato montés, zorrillo, armadillo, conejo, víboras y tlacuache, entre otros.
    </div>


    <div>
        <br>Fiestas y danzas tradicionales
        En junio se realiza una fiesta en honor del Sagrado Corazón de Jesús, se celebra con juegos pirotécnicos, danzas de matlachines y coronación de la reina. El 13, 15 y 16 de septiembre se celebra el Grito de Independencia con feria, bailes, vendimia de alimentos y juegos mecánicos. El 20 de noviembre se celebra la Revolución Mexicana con un desfile y festejos de elevación a la categoría de municipio.
    </div>


    <center>
        <img style="margin:12px 0 12px 0;" src="~/Losherrera2.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>

    <br>
    
    
</div>
</body> 
