
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azullampazos.php";
    ?>
    <div id="page">
        <h1>Bienvenido</h1>

        <br>
        <div class="intro">
            Este municipio del estado de Nuevo León perteneció a las villas fundadas el 12 de noviembre de 1698, por Fray Diego de Salazar, siendo gobernador del Reino don Juan de la Vergara y Mendoza, en terrenos que cedió don Martín de Alarcón, gobernador de la provincia de Coahuila.

        </div>
        Lugar Turistico.<br>
        A un kilómetro de Lampazos, brota el Ojo de Agua, quizá el más grande en el estado. Está rodeado de gigantescos sabinos y cuenta con asadores para que los visitantes disfruten cómodamente del lugar y del paisaje.
       

        <br> <center><img style="margin:12px 0 12px 0;" src="~/Lampazo1.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"></center><br>



    </div>
    Ubicación.<br>
    <br>
    Se localiza noroeste del estado en la región Costera del golfo en las coordenadas 27º01' de latitud norte y 100º31' de longitud oeste a una altura de 335 metros sobre el nivel del mar. Limita al norte con Anáhuac y el estado de Coahuila; al sur con Bustamante, Villa Aldama y Sabinas Hidalgo; al oriente con Anáhuac y Vallecillo, al poniente con Juárez y el estado de Coahuila.
   



    <div>
        <br>Flora 
        En las orillas de las acequias y de los ríos, crece el lampazo, además de mezquites, chaparro prieto, anacahuita y otras especies.
    </div>


    <div>
        <br>Fauna 
        La fauna la integran el venado cola blanca, oso, conejo, víbora de cascabel.
    </div>


    <div>
        <br>Fiestas y danzas tradicionales
        24 de JunioFiesta Patronal de San Juan Bautista
        29 de Mayo al 7 de Junio Feria del Cabrito.
        Leyenda: El Puente de Plata
        <br>
    </div>


    <center>
        <img style="margin:12px 0 12px 0;" src="~/Lampazos2.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>

    <br>
   
</div>
</body> 
