@model TURIWEBMty.Models.logio
@{ 
    ViewBag.Title = "Index";
}

<body BACKGROUND="rosa2.jpg">
    
    <div id="HomeController">
        
        <!-- hidden anchor to stop jump https://www.facebook.com/xsandrhhha?fref=ts  -->
        
        <a class="hiddenanchor" id="logio"></a>
        
        <a class="hiddenanchor" id="logio"></a>

        <div id="wrapper">
            
            <div id="login" class="animate form">
                <form action="~/Scripts/script.sql" autocomplete="on">
                    <DIV ALIGN="right"><h1>Iniciar Sesion</h1></DIV>

                    <DIV ALIGN="right">
                        <p>

                            <label for="Nombre" class="uname" data-icon="u"> Correo o Nombre de Usuario </label>

                            <input id="Nombre" name="Nombre" required="required" type="text" placeholder="myusername or mymail@mail.com" />
                        </p>
                    </DIV>


                    <DIV ALIGN="right">
                        <p>

                            <label for="Contraseña" class="youpasswd" data-icon="p"> Contraseña </label>
                            <input id="Contraseña" name="Contraseña" required="required" type="password" placeholder="eg. X8df!90EO" />
                        </p>
                    </DIV>


                    <DIV ALIGN="right">
                        <p class="keeplogin">

                            <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
                            <label for="loginkeeping">Dejar la sesion iniciada</label>
                        </p>
                    </DIV>


                    <DIV ALIGN="right">
                        <p class="login button">
                            <input type="submit" value="Acceder" href="~/Views/Abasolo/Perro">                           
                        </p>
                    </DIV>

                    <DIV ALIGN="right">
                        <p class="change_link">
                            ¿ No te haz registrado aun ?
                            <a href="~/Controllers/logiosController.cs" class="to_register">Registrate</a>
                        </p>
                    </DIV>

                </form>
            </div>

            <div id="logio" class="animate form">
                
                <form action="~/Scripts/script.sql" autocomplete="on">

                    <DIV ALIGN="right">
                        <h1> Registrate </h1>
                    </DIV>

                    <DIV ALIGN="right">
                        <p>
                            <label for="usernamesignup" class="uname" data-icon="u">Nombre de Usuario</label>                            
                            <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="mysuperusername690" />
                        </p>
                    </DIV>

                    <DIV ALIGN="right">
                        <p>
                            <label for="Correo" class="youmail" data-icon="e"> Correo</label>
                            <input id="Correo" name="Correo" required="required" type="email" placeholder="mysupermail@mail.com" />

                        </p>
                    </DIV>

                    <DIV ALIGN="right">
                        <p>
                            <label for="Contraseña" class="youpasswd" data-icon="p">Contraseña </label>
                            <input id="Contraseña" name="Contraseña" required="required" type="password" placeholder="eg. X8df!90EO" />
                        </p>
                    </DIV>

                    <DIV ALIGN="right">
                        <p>
                            <label for="contraseñaconfirmar" class="youpasswd" data-icon="p">Confirmar Contraseña </label>
                            <input id="contraseñaconfirmar" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. X8df!90EO" />
                        </p>
                    </DIV>

                    <DIV ALIGN="right">
                        <p class="signin button">
                            <input type="submit" value="Guardar" />
                        </p>
                    </DIV>

                    <DIV ALIGN="right" >
                        <p class="change_link">
                            ¿ Ya tienes una cuenta ?
                                <a href="~/Controllers/logiosController.cs" class="to_register"> Inicia Sesion</a>
                        </p>
                    </DIV>
                </form>
            </div>
        </div>         
    </div>   
</body>
