
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        
    <div id="page">
        <h1>Bienvenido </h1>
       


</div><b>
    Ubicaci&oacute;n.
</b> <p>Se encuentra en las siguientes coordenadas:
<p>
    Al norte 25º44'
    Al sur 25º37' de latitud norte
    Al este 100º07'
    Al oeste 100º16'
</p>

<p>Asimismo, al norte limita con los municipios de San Nicolás de los Garza y Apodaca; al sur con el municipio de Juárez, al oeste con Monterrey y al este con Apodaca. Guadalupe está totalmente integrado al área metropolitana formando parte de la gran mancha urbana de la capital de Nuevo León.</p>


<center>
    <img style="margin:12px 0 12px 0;" src="~/agualeguasmapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>


<center>
    <b>Principales Ecosistemas</b>
    <br>

    <p>
        Flora
    <p>

    <p>Desde las alturas del cerro de La Silla se pueden observar abundante vegetación, las casas en sus patios tienen nogales, aguacates y uno que otro mezquite y algunos frutales como: granados, nísperos, naranjos, limoneros, etc.; por los frentes en las banquetas una gran variedad de árboles ornamentales como: Fresnos, álamos, alamillos, tabachines, laureles, truenos, anacuas y moras, etc. Por el Río La Silla abundan añosos sabinos, álamos y chapotes entre otros.</p>

    <p>Fauna</p>

    <p>Con respecto a la fauna, se acabaron los tiempos cuando se podían cazar conejos, liebres, tejones, tlacuaches, gato montés, coyotes y encontrarse por las labores algún venado. Ahora la urbanización ha terminado con ese tipo de animales, por el cerro se podrán encontrar alguna víbora, tuzas, coyotes e insectos, así como algunas hurracas, tordos, cenzontle, los llamados gorupientos, palomas, auras y cuervos. En las casas: gorriones, periquitos de amor y canarios.</p>

</center>
<center>
    <b>
        Monumentos Historicos
    </b><br><p>
        Arquitectónicos:
        Templo del Señor de la Expiración, construcción del siglo XVIII; edificio de la Presidencia Municipal, construcción de principios de siglo XX.
        Históricos:
        A la Santa Cruz, construcción de principios del siglo XX, a Hidalgo, a Zaragoza, a Francisco Barbadillo y Vitoria, a La Madre, a Lázaro Cárdenas (busto), a Plutarco E. Calles (busto), a Benito Juárez (busto), a don Serafín Peña y Eloy Cavazos Ramírez (estos dos últimos guadalupenses)
</center>


<center>
    
    <b>
        Fiesta Danza y tradicionales<br>
        Fiestas Populares
    </b>
    <p>
        El patrón del pueblo es el Señor de la Expiración que se encuentra en el Templo Antiguo del mismo nombre, el segundo domingo del mes de agosto se efectúa en su honor la fiesta principal del Pueblo.
    </p>
    <p>
        <b>
            Museos
        </b>
    </p>
    <p>
        El Museo de la Hacienda de San Pedro contiene más de III siglos de historia de la agricultura y la ganadería de la región, fue una fortaleza contra los indios comanches desde los fines del siglo xviii se exponen fotografías y herramientas antiguas de trabajos, así como la reconstrucción total de la hacienda.
    </p>
</center>

<center>
 
    <b>
        Gastronomía
    </b><br>
    <p>
        Las comidas acostumbradas, el cortadillo de res, tamales, barbacoa y las comidas acostumbradas en el Area Metropolitana de Monterrey, tales como Cabrito al Pastor y otras de la región como Asado de Puerco y Carnes Asadas.
    </p>
    <p>

</center>

<center>
   
    <b>
        Centros Turisticos<br>
    </b>
    <p>
        Ascenso al Cerro de la Silla.- A todas horas del día de toda la semana ascienden al Cerro de la Silla hombres, mujeres y niños, unos en plan de deporte y otros a las antiguas instalaciones del teleférico o al pico donde se encuentra instalada la torre de la estación receptora de una señal de televisión.
    </p>

    <p>
        Exposiciones.- Una vez al año se presenta durante un mes, la exposición agrícola, ganadera e industrial, siendo muy concurrida, pues los miles de visitantes encuentran distracciones como el Palenque con sus peleas de gallos y presentación de artistas nacionales famosos, además loncherías donde comer y juegos mecánicos para divertirse.

    </p>


</center>
<center>
    <img style="margin:12px 0 12px 0;" src="~/guadalupe23.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<center>
    <p><b>Artesanias</b></p>
    <p>En el municipio existe una fábrica de artesanías de talabartería, en la cual se realizan trabajos en sillas de montar tipo texano, en cuero, billeteras, cintos, además de portafolios, mochilas, carrilleras tipo texano, fornituras para armas, etc.</p>

    <p>Así mismo la elaboración de piñatas, vidrieros (vidrio soplado), candiles coloniales y herrería (forja colonial)</p>
</center>

</body> 
