@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
</head>


<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azulagualeguas.php";
    ?>
    <div id="page">
        <h1>Bienvenido </h1>
        <?php
    include "include/compartir.php";
    ?>


    <center>
        Lugar Tur&iacute;stico.<br>
        Los principales atractivos tur&iacute;sticos de esta regi&oacute;n son los paseos del Nogalar, zona cubierta de frondosos nogales donde existe un magn&iacute;fico balneario con las instalaciones necesarias; tambi&eacute;n la Presa de Agualeguas, que es ideal para practicar el esqu&iacute; acu&aacute;tico, pasear en lancha y pescar r&oacute;balo, bagre, mojarra y sardina; adem&aacute;s los alrededores ofrecen a los cazadores, durante la temporada invernal, abundante pato de Canad&aacute;.<br>
    </center>
    <center>
        <img style="margin:12px 0 12px 0;" src="~/lomalarga.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
</div>
Ubicaci&oacute;n.  El municipio de Agualeguas, Se ubica al noroeste del estado en la regi&oacute;n denominada llanura costera del Golfo. Limita al norte con Paras, al sur con General Treviño, al este con el estado de Tamaulipas y al oeste con Sabinas Hidalgo. La cabecera municipal se encuentra en las coordenadas 26 19 de latitud norte y 99 32 de longitud oeste a una altura de 180 msnm.<br>


<center>
    <img style="margin:12px 0 12px 0;" src="~/agualeguasmapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>

<center>
    <b>
        Artesanias
    </b><br>
    Obras de Arte.- Pintura al &Oacute;leo de Nuestra Se&ntilde;ora de Guadalupe, pintada por Jos&eacute; C. Alc&iacute;var, uno de los artistas m&aacute;s distinguidos del siglo XVIII y disc&iacute;pulo del ameritado pintor Miguel Cabrera. La pintura se conserva en la iglesia del mismo nombre.  <br>
</center>

    <center>
    <b>Flora </b>
    <br>
    Mezquite, huizache, encino
    </center>
   
      <center>
        <b>Fauna</b> <br>

        Liebre, jabal&iacute;, armadillo, tej&oacute;n, coyote

    </center>
    <b> 
        Recursos naturales
    </b>
    <br>
    <p>
        Sus recursos naturales están manifestados en la flora y fauna existentes, as&iacute; como el arroyo cucharas. La vocaci&oacute;n ganadera, agr&iacute;cola y forestal del territorio es en buen grado su riqueza en recursos naturales.
    </p>
    <p>
        Asimismo, cuenta con una extensa área con nogales, y en presa de Agualeguas se puede pescar r&oacute;balo, bagre, mojarra y sardina; adem&aacute;s durante la temporada invernal, llegan a las tierras de este municipio parvadas de pato canadiense.
    </p>
    <br>
    <center>
        <b>
            Monumentos Historicos
        </b><br>
        Arquitect&oacute;nicos
        Casa habitación del estilo porfiriano que a&uacute;n conserva su construcci&oacute;n original.
        En el centro del pueblo destaca la Parroquia de La Pur&iacute;sima Concepci&oacute;n de Agualeguas, la cual fue erigida durante la fundaci&oacute;n del pueblo. <br>
    </center>

    <center>
        
        <b>
            Fiesta Danza y tradicionales
        </b><br>
        Fiestas Populares
        En el mes de septiembre se celebra la feria popular con motivo del aniversario de la Independencia de M&eacute;xico;el 8 de enero se festeja conferia a Nuestra Señora de Agualeguas, patrona del pueblo. <br>
    </center>

    <center>
        <b>
            Gastronomía
        </b>	<br>
        <p>
            Alimentos
            Cortadillo de pozo, hecho tipo barbacoa; mezquitanal, cabrito asado, en fritada o en salsa.
        </p>
        <p>
            Dulces
            Conservas de naranja e higo, dulce elaborado con leche y fr&iacute;jol; de calabaza y piloncillo.
        </p>
    </center>


    <center>
        <b>
            Lugares Turisticos
        </b><br>
        <p>
            Los principales atractivos turisticos de esta región son los paseos del Nogalar, zona cubierta de frondosos nogales donde existe un magn&iacute;fico balneario con las instalaciones necesarias; tambi&eacute;n la Presa de Agualeguas, que es ideal para practicar el esqu&iacute; acu&aacute;tico, pasear en lancha y pescar r&oacute;balo, bagre, mojarra y sardina; adem&aacute;s los alrededores ofrecen a los cazadores, durante la temporada invernal, abundante pato de Canad&aacute;.
            Las presas Loma Larga y Agualeguas, el templo de Nuestra Señora de Agualeguas y el lienzo charro "Adriana Margarita".
        </p>
    </center>

    <center>
        <img style="margin:12px 0 12px 0;" src="~/agualeguasmonumento.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>


    
    <center>
        <a href="index2.php"><font color="#black">REGRESAR A LA PAGINA PRINCIPAL</font></a><br>
    </center>
</body>
</html>
