@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azulcoss.php";
    ?>
    <div id="page">
        <h1>Bienvenido </h1>
        <?php
    include "include/compartir.php";
    ?>



</div><b>
    Ubicaci&oacute;n.
</b> <p> Está situado al noreste del Estado de Nuevo León, en las coordenadas 25º56' latitud norte y 99º10' de longitud oeste. Colinda al norte con Tamaulipas, al sur con General Bravo, al este con General Bravo y Tamaulipas y al oeste con Los Aldama y China. Se encuentra a 182 kilómetros de la ciudad de Monterrey a una altura de 134 metros sobre el nivel del mar. Es el municipio de mayor altitud del estado.</p>


<center>
    <img style="margin:12px 0 12px 0;" src="~/cossmapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>


<center>
    <b>Flora</b>
    <br>

    <p>
        Se compone de mezquite, huizache, anacahuita, matorral bajo y zacate buffet.
    </p>
    </center>

    <center>
        <b>
            Fauna
        </b> <br>

        Está compuesta en su mayoría de conejo, liebre, coyote, jabalí y zorrillo.

    </center>

    <b>
        Monumentos Historicos
    </b><br><p>
        Se tienen dos monumentos históricos: El primero ubicado en la plaza principal de la cabecera municipal, el busto de don Benito Juárez y en Congregación Francisco I. Madero, el busto de don Francisco I. Madero.
    </p>


    <p>Históricos.- En la plaza de Juárez se encuentra un busto del Lic. Benito Juárez, en el Parque Miguel Hidalgo se halla la escultura del Padre de la Patria y un monumento a los fundadores de la ciudad de Doctor Arroyo.</p>
    <center>
        <img style="margin:12px 0 12px 0;" src="~/coss1.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>

    </center>
    <center>
       
        <b>
            Fiesta Danza y tradicionales<br>
            Fiestas Populares
        </b>
        <p>
            El 12 de diciembre es tradición desde hace más de 40 años una peregrinación con la virgen de Guadalupe, partiendo del barrio norte a la iglesia del Sagrado Corazón de Jesús, haciendo saber que es la única iglesia de la región noreste que no está ubicada frente a la plaza, sino que se encuentra en lo alto de una ermita donde nuestros antepasados la prometieron al Sagrado Corazón de Jesús; lo que la hace distinguir por observarse desde lugares lejanos.
        </p>
        <center>
            <img style="margin:12px 0 12px 0;" src="~/iglesiacoss.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>

        </center>



    </center>

    <center>
       
        <b>
            Gastronomía
        </b><br>
        <p>
            La carne seca es procesada para preparar caldillo, carne saraza y el famoso machacado con huevo que con la Tía Lencha tuvo sus orígenes en ese pueblo y que hace más de cincuenta años ha dado gran fama a Ciénega de Flores. Los dulces que se elaboran en este municipio son: ricos turcos, empanadas, frituras de maíz y dulces de leche.
        </p>
        <p>

    </center>

    <center>
       
        <b>
            Centros Turisticos<br>
        </b>
        <p>

            En el municipio se encuentra la parroquia más antigua del estado, que data de la época de la colonia. Su interior es austero. Para esparcimiento de visitantes y la población nativa delmunicipio, se dispone del Club Cinegético (caza del venado)
        </p>

        
        <b>
            Platillos<br>
        </b>
        <p>
        <p>El platillo típico de nuestro municipio consta de cortadillo, arroz y frijoles. </p>

    </center>
    


</body> 
