
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azuliturbide.php";
    ?>
    <div id="page">
        <h1>Bienvenido </h1>
        <?php
    include "include/compartir.php";
    ?>



</div><b>
    Ubicaci&oacute;n.
</b> <p>
    Se localiza al sudeste del estado, en la región denominada Sierra Madre Oriental ubicado en los 24º44' de latitud norte y 99º53' de longitud oeste, se encuentra a 1,479 metros sobre el nivel del mar.Limita al norte con el municipio de Galeana; al sur con Aramberri; al este con Linares y con el estado de Tamaulipas; al oeste con Galeana.


    <center>
        <img style="margin:12px 0 12px 0;" src="~/itubidemapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
    <br>

</div>


<center>
    <b>Principales Ecosistemas</b>
    <br>

    <p>
        Flora
    </p>

    <p>La flora de este municipio es variada y abundante en los bosques, se pueden encontrar cedros, pinos, encinos, álamos, truenos, olmos, monilla, huizache, pino piñonero, fresno, mezquites, magueyes, lechuguillas. Entre los árboles frutales destacan, nogal, manzano, durazno, chabacano, ciruelo, nopal, membrillo, tecojote y madroño</p>

    <p>Fauna</p>

    <p>Es muy variada, en las montañas existen osos, pumas, venados, jabalíes, gato montés, coyotes, tecolotes, zorras, tejones, armadillos, además de un extenso surtido de especies entre las que sobresalen águilas, auras y gavilanes.</p>

</center>
<center>

</center>


<center>
   
    <b>
        Fiesta Danza y tradicionales
    </b><br>
    <p>El 9 de marzo se celebra la erección de Iturbide en municipio, con actividades artísticas y culturales. El 16 de septiembre y 20 de noviembre, fechas históricas que se recuerdan con desfiles y carros alegóricos. Se festeja el santo patrono del pueblo, el 29 de junio (día de San Pedro), con procesión de la imagen del santo y juegos pirotécnicos por la noche.</p>

    <p>Tradiciones y Costumbres</p>

    <p>En Semana Santa, el sábado de Gloria se quema un muñeco representando al diablo; todos los domingos, durante el mes de diciembre se hace la representación del nacimiento de Jesucristo.</p>

    <p>
        <b>
            Museos
        </b>
    </p>
    <p>
        Cuenta con una Casa de la Cultura.
    </p>
</center>

<center>
   
    <b>
        Gastronomía
    </b><br>
    <p>
        Alimentos
    </p>
    <p>Se preparan gorditas de trigo y platillos con flores de palma - yuca, nopalitos de la región y quiote tatemado.</p>
    <p>
        Dulces
        Se hacen dulces de camote, calabaza, chilacayote, chayote; así como conservas de frutas de la estación.
    </p>

    <p>
        Bebidas
        El agua miel se consume como bebida sola y también con atole de masa.
    </p>
    
</center>

<center>
    
    <b>
        Centros Turisticos<br>
    </b>

    <p>
        El municipio de Iturbide es uno de los centros turísticos más singulares de Nuevo León, pues cuenta con altas montañas y amplios pinares.
        En el valle de Santa Rosa, se halla un pintoresco pueblecito recostado en las laderas: además cuenta con cascadas de agua como La Purísima y con paseos en las riberas del río que nace en el Cañón de San Antonio de Peñitas.
    </p>

    <p>Al norte de Iturbide existe un lugar llamado La Salitrera en donde se encuentra una magnífica gruta. En la sierra de la región se puede cazar venado, codorniz y armadillo, en temporada permitida. Por último, a 9 kilómetros de la cabecera se encuentra el monumental bajorelieve conocido como Los Altares. </p>



</center>
</body> 
