@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azulhualahuises.php";
    ?>
    <div id="page">
        <h1>Bienvenido</h1>

        <br>
        <div class="intro">
            Este pintoresco municipio se encuentra exactamente situado en la región central del estado de Nuevo León, ampliamente conocida como zona cítrica, en la región fisiográfica denominada Llanura Costera del Golfo; la mayor parte de su territorio está orientada hacia el sudeste.

        </div>
        Lugar Turistico.<br>
        Los lugares de atención turística son: El Puente Colgante, que se encuentra sobre el río Hualahuises, de sumo interés por su diseño y tradición histórica; el parque recreativo "El Sabinal", lugar de esparcimiento para las familias en la época de verano.

        <br>El templo, que tiene la imagen de San Cristóbal, traída por los franciscanos durante la fundación de esta misión, la que es de gran atractivo para los turistas extranjeros porque solo existen tres en nuestro país; además es de belleza única.
        

        <br> <center><img style="margin:12px 0 12px 0;" src="~/Hualahuises2.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"></center><br>


    </div>
    Ubicación.<br>
    <br>
    Con respecto a las coordenadas geográficas, se encuentra a los 24º51' latitud norte y 99º40' longitud oeste, con relación al meridiano que pasa por la cruz de la catedral de la ciudad del México. Está ubicado a 360 metros sobre el nivel del mar.
    <br>Es el único municipio del país, quizá del mundo en que sus puntos cardinales indican hacia un mismo lugar geográfico (Linares), es decir, Hualahuises limita al norte, al sur, al este y al oeste con Linares.
   


    <div>
        <br>Flora 
        La vida vegetal ofrece una importante gama de variedades de plantas desde los pinos, encinos, oyameles, álamos de la Sierra Madre Occidental, hasta las plantas xerófitas (nopales, biznagas, cactus, palmeras de clima desértico); también las hay de madera dura como el mezquite, el ébano y de maderas de gran calidad como el nogal y sabinos; así como arbustos como el cenizo, anacahuita, chaparro prieto, huizache, barreta, tenaza y muchos otros. Frutales: como el nogal, aguacate, el chicozapote, también los hay de clima mediterráneo como el naranjo, limón, pomelo, tangerino, sin faltar el fresno, sauces y sabinos que se encuentran en grandes cantidades a la vera del río Hualahuises.
    </div>


    <div>
        <br>Fauna 
        En la fauna de la región de Hualahuises se encuentran representados una gran cantidad de mamíferos: liebre, conejo, tlacuache, pinto rabo, tusa, ardilla y coyote.
        Las aves son muy numerosas, existiendo canoras (cenzontle, canarios, petirrojos, calandrias y cardenales); las gallináceas (gallina doméstica, guajolote, patos y garzas).
    </div>


    <div>
        <br>Fiestas y danzas tradicionales
        Celebración de la fundación Misión de San Cristóbal, el día 24 de junio
        Feria del Geranio, el 21 de marzo
        Representación de la pasión y muerte de Jesús, en Semana Santa
        Domingo de Ramos
        Jueves Santo
        Viernes Santo
        Sábado Santo
        Día de San Juan, el 24 de junio
        En las bodas se construyen enramadas utilizando horcones.
        <br>
    </div>


    <center>
        <img style="margin:12px 0 12px 0;" src="~/Hualahuises1.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>

    <br>
    
</div>
</body> 
