<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
	include "include/logo2.php";
    ?>
    <div id="page">
        <h1>Bienvenido Monterrey</h1>
        <?php
	 include "include/compartir.php";
    ?>

    <div class="intro">
        Es la Capital del estado de Nuevo Le&oacute;n, la ciudad de Monterrey es conocida tambi&eacute;n como "La Ciudad de las Monta&ntilde;as" por estar bordeada de la Sierra Madre y en particular del Cerro de la Silla mismo que es parte ic&oacute;nica de la ciudad.

        L&iacute;mita con los municipios de San Nicol&aacute;s de los Garza y General Escobedo; al sur con San Pedro Garza Garc&iacute;a y Santiago; al este con Guadalupe y Ju&aacute;rez; por &uacute;ltimo al oeste con Santa Catarina y Garc&iacute;a.

    </div>
    <center>
        Lugar Tur&iacute;sticos.<br>
        Catedral de Monterrey. Ubicado por la calle de Zuazua y Padre Jard&oacute;n.
    </center>
    <center>
        <img style="margin:12px 0 12px 0;" src="img/catedral.jpg" width="620" height="400" alt="Imagen para el intro" title="Monterrey"><br>
    </center>
</div>
Ubicaci&oacute;n<br>
el municipio de Monterrey,N.L. se localiza en el paralelo 25°40' de latitud norte y 100°18'de meridiano oeste, a 537 metros sobre el nivel del mar.

<center>
    <img style="margin:12px 0 12px 0;" src=img/mapajpg.jpg width="250" height="400" alt="imagen para el intro" title="Monterrey"><br>
</center>
<br>

</div>
<center>
    Artesanias <br>
    Obras de Arte.-Talabarter&iacute;a ,Alfarer&iacute;a, Cer&aacute;mica moderna , Vidrio Soplado, Cristal Cortado, Hierro Forjado ,Flores de Papel<br>
</center>
<center>
    Flora
    <br>
    Por lo que respecta a la flora se encuentra mezquites, encinos, huizaches y magueyes.
</center>
<center>
   
    Fauna<br>
    En lo que es la fauna se reduce a peque&ntilde;as especies como zorro, comadreja, tlacuache y aves como la paloma y gran variedad de p&aacute;jaros.
</center>
<center>
   
    Fiestas y Danzas tradicionales<br>
    El d&iacute;a veinte de septiembre de celebra el aniversario de la fundaci&oacute;n del municipio, el 15 y 16 de septiembre se realiza el tradicional grito de la independencia y se hace un desfile C&iacute;vico por las principales calles del municipio; El 12 de diciembre se hace una verbana y danzas de matachines por la aparicion de la Virgen de Guadalupe.
</center>
<center>
    <img style="margin: 12px 0 12px 0;" src="img/Desfile.jpg"  height="400" alt="imagen para el intro" title="=Monterrey"><br>
</center>

<center>
    <a href="index2.php"><font color="#black">REGRESAR A LA PAGINA PRINCIPAL</font></a><br>
</center>


</body> 
