<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azulcadereyta.php";
    ?>
    <div id="page">
        <h1>Bienvenido </h1>
        <?php
    include "include/compartir.php";
    ?>


    <center>
        <b>
            El 5 de abril de 1998 fueron descubiertas accidentalmente las Grutas El Mezcal por Pablo Carrizales Gomes y Rodrigo Gomez. Inicialmente se descubrió una caverna con una profundidad de aproximadamente 20 a 30 metros y un radio de 200 metros. Más tarde se encontró una segunda caverna con unos 50 metros de suelo donde es posible caminar libremente.<br>
    </b>
            </center>
    <center>
        <img style="margin:12px 0 12px 0;" src="img/cadeytacasa.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
</div>
Ubicaci&oacute;n.  El municipio de Cadereyta se encuentra ubicado en la parte central del estado en las coordenadas 25o36' de latitud norte y 100o00' de longitud oeste a una altura de 360 metros sobre el nivel del mar. Sus límites son: Al norte con los municipios de Juárez y de Pesquería. Al sur con Allende, Montemorelos y General Terán, al este con General Terán y los Ramones y al oeste con Juárez e Hidalgo.<br>


<center>
    <img style="margin:12px 0 12px 0;" src="img/cadeytamapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>

<center>
    <b>
        Artesanias
    </b><br>
    <p>
        Se realiza cestería en base a tejido de palmito. Con este último insumo se hacen petates y sombreros.
        Se elaboran productos artesanales de madera tales como, mecedoras, sillas y mesas, cruces, servilleteros y otros.
    </p>
    <p>
        En el municipio se elabora pan al estilo artesanal; en horno abovedado de adobe y el cocimiento con leña.
    </p> <br>
</center>
<center>
    <b>Flora</b>
    <br>
    </center>


    Cuenta con una gran variedad de árboles y arbustos con espinas como mezquite, huizache, granjeno, uña de gato, tenaza y otros. En maderas: encino, sabino, nogal, ébano, fresno, palo blanco, entre otros.

    <center>
        <b>
            Fauna
        </b> <br>
        El clima y la vegetación predominantes favorecen el desarrollo de especies de animales silvestres como son: El conejo, liebre, coyote, ardilla, tlacuache, zorrillo, codorniz. En lo doméstico, figuran el caballo, cabra, oveja, vaca, perro, gato, cerdo y buey.

    </center>
    <b>Recursos Naturales </b>
    <br>
    <p>
        En su suelo no se localiza petróleo, sin embargo, cuenta con una refinería de Petróleos Mexicanos que a través de su oleoducto transporta desde Ciudad Madero, Tams., hasta sus instalaciones el petróleo crudo para su refinación.
    </p>

    <center>
        <b>
            Monumentos Historicos
        </b><br>
        Como monumentos históricos se puede enumerar uno erigido en honor del Padre de la Patria, don Miguel Hidalgo, otro a la memoria de don Benito Juárez García, una fuente carrara italiana inaugurada en 1890. Todos ellos se localizan en la plaza principal, "Miguel Hidalgo". <br>
    </center>
    <center>
        <img style="margin:12px 0 12px 0;" src="img/cadeytacasa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
    <center>
        
        <b>
            Fiesta Danza y tradicionales<br>
            Fiestas Populares
        </b>
        <p>
            El 13 de agosto se celebra el aniversario de la fundación de Cadereyta. El 24 de junio, fecha en que se conmemora al Santo Patrono: San Juan Bautista.
        </p>
        <b>
            Danzas
        </b>
        <p>
            Muy famosas las danzas conocidas como "comparsas" que se organizan para festejar al Señor de Tlaxcala.Grupos dancísticos mixtos ataviados al estilo de los matachines pero con penacho de plumas de guajolote y falda con espejos.
        </p>
    </center>

    <center>
        
        <b>
            Gastronomía
        </b><br>
        <p>
            El platillo típico de Cadereyta es el que se conoce con el nombre de: Cuajitos. Se elabora con trozos pequeños de carne de caprino o res con todos los condimentos y en caldillo.
        </p>
        <b>Museo</b>
        <p>
        El municipio cuenta con el Centro Cultural, Jorge A. Treviño que integra un área de exposición y la biblioteca y archivo histórico municipal que lleva el nombre de Desiderio Hernández Xochitiotzin.
        </p>
        <p>
            <b>Higrodrafía</b>
        <p>
            El río Monterrey afluente del San Juan, atraviesa el municipio de este a noroeste. El arroyo Ayancual, afluente del río Pesquería, lo cruza de noreste a norte. Al norte del municipio se encuentra el río Santa Catarina. Algunos de los arroyos que existen son: Lazarillo, Sabinito, El Negro, San Lorenzo, Los álamos y El Salitre.
        </p>
        <p>
            Alimentada por esta fuente de agua, en el lugar que se conoce como las atarjeas, se bifurcan tres acequias (acequia Madre, Iglesia y Llanos de Valdez), construidas por los primeros pobladores en base a los conocimientos hidráulicos tlaxcaltecas.
        </p>

        <p>Las acequias Madre e Iglesia atraviesan la villa. Cuando hay precipitaciones fluviales se forman los arroyos Guadaña y el Vallado.</p>
    </center>


    <center>
        
        <b>
            Centros Turisticos<br>
        </b>
        <p>

            Cuenta con una buena cantidad de parajes que se localizan en las márgenes de los ríos Ramos y San Juan, sitios muy sombreados y con aguas cristalinas donde se puede disfrutar de un día ameno y tranquilo.

            Se tiene un balneario llamado "Las Albercas" se localiza en el kilómetro 4 de la carretera Cadereyta-Allende.
        </p>
    </center>

    <center>
        <img style="margin:12px 0 12px 0;" src="img/cadereytaturismo.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>


    <center>
        <form method="get" action="http://aprenderaprogramar.com/accion.php">
            <input type="submit" value="Enviar este formulario" />
        </form>
    </center>
</body>

