<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azulcienega.php";
    ?>
    <div id="page">
        <h1>Bienvenido </h1>
        <?php
    include "include/compartir.php";
    ?>



</div><b>
    Ubicaci&oacute;n.
</b> <p> Ciénega de Flores se localiza al norte de la ciudad de Monterrey, en la región denominada Llanura Costera del Golfo. Su cabecera municipal se encuentra en las coordenadas 25º58' de latitud norte y de 100º10' de longitud oeste a una altura sobre el nivel del mar de 440 metros. Limita al norte y oeste con Salinas Victoria, al sur con Apodaca y General Zuazua y al este también con General Zuazua.</p>


<center>
    <img style="margin:12px 0 12px 0;" src="img/cienegamapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>


<center>
    <b>Flora</b>
    <br>

    <p>
        Se compone de granjenos, chaparro prieto, mezquite, anacahuita, nacajita roja, bizbirinda, zacate bufel y estrella africana.
    </p>
    </center>

    <center>
        <b>
            Fauna
        </b> <br>

        Comprende víbora de cascabel, conejos, tlacuaches, golondrinas y urracas.

    </center>

    <b>
        Monumentos Historicos
    </b><br><p>
        Templo de San Eloy construido en 1847 con la seña particular de tener su campanario separado de la nave; éste fue construido después de la iglesia antes de finalizar el siglo y originalmente se ligaba al templo por un enrejado y una especie de tapanco de madera utilizado para oficiar al exterior.
    </p>
    <center>
        <img style="margin:12px 0 12px 0;" src="img/cienegacasa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
    <center>
     
        <b>
            Fiesta Danza y tradicionales<br>
            Fiestas Populares
        </b>
        <p>
            Las fiestas del santo patrono, San Eloy, se realizan cada año, el primero de diciembre. Los bailes populares y la tradicional feria de septiembre con eventos charros, exhibición de productos regionales, juegos y atracciones mecánicas. Muy concurrida es la fiesta anual del 24 de junio en el ejido de Tierra Blanca a cinco kilómetros de la cabecera..
        </p>
        <p>
            <b>
                Danzas
            </b>
        </p>
        <p>
            Muy famosas las danzas conocidas como "comparsas" que se organizan para festejar al Señor de Tlaxcala.Grupos dancísticos mixtos ataviados al estilo de los matachines pero con penacho de plumas de guajolote y falda con espejos.
        </p>
    </center>

    <center>
       
        <b>
            Gastronomía
        </b><br>
        <p>
            La carne seca es procesada para preparar caldillo, carne saraza y el famoso machacado con huevo que con la Tía Lencha tuvo sus orígenes en ese pueblo y que hace más de cincuenta años ha dado gran fama a Ciénega de Flores. Los dulces que se elaboran en este municipio son: ricos turcos, empanadas, frituras de maíz y dulces de leche.
        </p>
        <p>

    </center>

    <center>
        
        <b>
            Centros Turisticos<br>
        </b>
        <p>

            El municipio de Ciénega de Flores es uno de los más tranquilos y agradables del estado de Nuevo León, en el que se puede pasar una temporada de descanso, ya que cuenta con algunos paisajes.

            Se puede disfrutar de los eventos que se presentan en el lienzo charro Félix Cárdenas los fines de semana o de las emociones de las carreras de moto en la pista San Antonio, así como de los bailes populares. Existen restaurantes también de calidad turística, donde se pueden paladear las exquisitas comidas regionales, como el machacado con huevo.
        </p>


    </center>



    
    <center>
        <a href="index2.php"><font color="#black">REGRESAR A LA PAGINA PRINCIPAL</font></a><br>
    </center>
</body> 