<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azuldoctor.php";
    ?>
    <div id="page">
        <h1>Bienvenido </h1>
        <?php
    include "include/compartir.php";
    ?>



</div><b>
    Ubicaci&oacute;n.
</b> <p> Se encuentra localizado en la región sur ixtlera; sus coordenadas de ubicación son 23º40' de latitud norte y 100º11' de longitud oeste, a una altura de 1,706 metros sobre el nivel del mar, municipio de mayor altitud en el estado.</p>

<p>Limita al norte con Aramberri y Galeana, al sur con Guadalupe, Mier y Noriega, y el estado de San Luis Potosí; al este con Aramberri, General Zaragoza, estado de Tamaulipas y con los municipios Venegas, Cedral y Matehuala de San Luis Potosí.</p>


<center>
    <img style="margin:12px 0 12px 0;" src="img/doctormapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>


<center>
   <b>Flora</b>
    <br>

    <p>
        La albarada, mezquite, lechuguilla, nopal, el chaparro amargoso, la candelilla, el hojasén.
    </p>
    </center>

    <center>
        <b>
           Fauna
        </b> <br>

        Víbora de cascabel, coyote, venado, armadillo, zorra, roedores y diversas aves.

    </center>

    <b>
        Monumentos Historicos
    </b><br><p>
        Arquitectónicos.- La parroquia de la Purísima Concepción es un monumento colonial, lo mismo que viejas casonas del pueblo y cascos en ruinas en distintos rumbos del municipio, ejemplo de lo anterior es una casona que se encuentra a una cuadra del palacio municipal, con fuertes cimientos y con diseños de principios de siglo, que fue ocupada por el General Emiliano Gutiérrez y su gabinete presidencial.
    </p>


    <p>Históricos.- En la plaza de Juárez se encuentra un busto del Lic. Benito Juárez, en el Parque Miguel Hidalgo se halla la escultura del Padre de la Patria y un monumento a los fundadores de la ciudad de Doctor Arroyo.</p>
    <center>
        <img style="margin:12px 0 12px 0;" src="img/1.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
        <img style="margin:12px 0 12px 0;" src="img/2.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
        <img style="margin:12px 0 12px 0;" src="img/3.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
        <img style="margin:12px 0 12px 0;" src="img/4.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
    <center>
      
        <b>
            Fiesta Danza y tradicionales<br>
            Fiestas Populares
        </b>
        <p>
            Fiesta Patronal del 8 de diciembre,Virgen de la Purísima Concepción.
            Feria 22 de septiembreAniversario de la Fundación.
        </p>
        <p>
            <b>
                Danzas
            </b>
        </p>
        <p>
            Muy famosas las danzas conocidas como "comparsas" que se organizan para festejar al Señor de Tlaxcala.Grupos dancísticos mixtos ataviados al estilo de los matachines pero con penacho de plumas de guajolote y falda con espejos.
        </p>
    </center>

    <center>
      
        <b>
            Gastronomía
        </b><br>
        <p>
            La carne seca es procesada para preparar caldillo, carne saraza y el famoso machacado con huevo que con la Tía Lencha tuvo sus orígenes en ese pueblo y que hace más de cincuenta años ha dado gran fama a Ciénega de Flores. Los dulces que se elaboran en este municipio son: ricos turcos, empanadas, frituras de maíz y dulces de leche.
        </p>
        <p>

    </center>

    <center>
        
        <b>
            Centros Turisticos<br>
        </b>
        <p>

            En el municipio se encuentra la parroquia más antigua del estado, que data de la época de la colonia. Su interior es austero. Para esparcimiento de visitantes y la población nativa delmunicipio, se dispone del Club Cinegético (caza del venado)
        </p>


    </center>
    <center>
        <a href="index2.php"><font color="#black">REGRESAR A LA PAGINA PRINCIPAL</font></a><br>
    </center>
    </body>


    
