<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azulzuazua.php";
    ?>
    <div id="page">
        <h1>Bienvenido </h1>
        <?php
    include "include/compartir.php";
    ?>



</div><b>
    Ubicaci&oacute;n.
</b> <p>El municipio de General Zuazua se encuentra ubicado en las coordenadas 25°54' de Latitud Norte y 100°07' de Longitud Oeste, a una altura de 400 metros sobre el nivel del mar. Sus límites son al norte con Ciénega de Flores, al sur con Apodaca, al este con Higueras y Marín y al oeste con Salinas Victoria..</p>


<center>
    <img style="margin:12px 0 12px 0;" src="img/zuazamapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>


<center>
    <b>Principales Ecosistemas</b>
    <br>

    <p>
        Flora
    <p>

        En este municipio la flora se compone: de mezquites, chaparro prieto, palmita, anacua, huizache, gatunio, palma silvestre, cenizo, anacahuita y grangeno.

    <p>Fauna</p>

    La fauna es variada y se compone de tlacuaches, jabalíes, liebres, conejos, lagartijas, víboras, tejones y aves como la paloma, codorniz, chachalaca y otras variedades de pájaros, ardillas, coyotes, faisanes y armadillos.
    

</center>
<center>
    <b>
        Monumentos Historicos
    </b><br><p>
        Busto de Benito Juárez, kiosco de la plaza, parroquia Santa Elena y hacienda de San Pedro.
</center>

<center>
    <img style="margin:12px 0 12px 0;" src="img/zuaza1.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
    <img style="margin:12px 0 12px 0;" src="img/zuaza2.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>

</center>
<center>
   
    <b>
        Fiesta Danza y tradicionales<br>
        Fiestas Populares
    </b>
    <p>
        Los días 28, 29 y 30 de junio se festejan las fiestas de San Pedro y San Pablo; la tradicional Feria Regional del Pueblo del primero al 25 de octubre; 18 de agosto fiestas de Santa Elena patrona del pueblo; 1o de octubre fiestas de Santa Teresita en la comunidad de Carrizalejo; y las del ejido Zuazua en marzo 3; aniversario del municipio de General Zuazua, Mayo 3; en las fiestas de Fieles Difuntos se acostumbra a colocar flores en las tumbas y hacer rezos por su eterno descanso.
    </p>
    <p>
        <b>
            Museos
        </b>
    </p>
    <p>
        El Museo de la Hacienda de San Pedro contiene más de III siglos de historia de la agricultura y la ganadería de la región, fue una fortaleza contra los indios comanches desde los fines del siglo xviii se exponen fotografías y herramientas antiguas de trabajos, así como la reconstrucción total de la hacienda.
    </p>
</center>

<center>
    
    <b>
        Gastronomía
    </b><br>
    <p>
        Las comidas típicas en el municipio son: El cortadillo ranchero con arroz, cabrito al pastor, en salsa o en fritada, borrego al horno o en salsa, empalmes, cuajo, machacado con huevo, mole de semilla con carne de puerco, dulces de leche quemada, hojarascas, semitas y otros platillos regionales.
    </p>
    <p>

</center>

<center>
   
    <b>
        Centros Turisticos<br>
    </b>
    <p>

        La Hacienda San Pedro se encuentra ubicada a 5 km del municipio se llega por vía terrestre, este lugar es un Museo de Historia que data del siglo XVII, museo rescatado por la Universidad Autónoma de Nuevo León en el año de 1984, rico en historia cuenta con fotografías cuadros antiguos y herramientas, una gran biblioteca, teatro, capilla etc.
    </p>

    <p>Lugares turísticos: Hacienda San Pedro, parroquia Santa Elena, plaza principal, palacio municipal, balneario en la Comunidad de Tlaxcalay un lienzo charro. </p>


</center>
<center>
    <img style="margin:12px 0 12px 0;" src="img/zuazua4.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>


    <p><b>Artesanias</b></p>
    <p>La tradicional música es regional, es el acordeón y bajo sexto o guitarra imperando los corridos y canciones rancheras.</p>
</center>

    <center>
        <a href="index2.php"><font color="#black">REGRESAR A LA PAGINA PRINCIPAL</font></a><br>
    </center>
</body> 
