<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">
<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azulhigueras.php";
    ?>
    <div id="page">
        <h1>Bienvenido</h1>


        <br>
        <div class="intro">
            Higueras se localiza al noreste del estado de Nuevo León en la región Llanura Costera del Golfo. Por ser Higueras una región de nopaleras, suponemos que el nombre fue impuesto por los primeros pobladores españoles.



        </div>
        Lugar Turistico.<br>
        Aunque no cuenta con infraestructura, a 4 kilómetros de la cabecera municipal se encuentra la Laguna y Ojo de Agua de Higueras, donde las familias acostumbran acudir en días de campo. En la sierra de Picachos existen varios parajes para quienes gustan de la excursión y la fotografía.
        

        <br> <center><img style="margin:12px 0 12px 0;" src="img/Higueras2.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"></center><br>



    </div>
    Ubicación.<br>
    <br>
    El municipio de Higueras al noreste del estado de Nuevo León en la región Llanura Costera del Golfo, a 56 kilómetros de la Ciudad de Monterrey, a 25º 58'del Meridiano de Greenwich. Limita al norte con Sabinas Hidalgo y Salinas Victoria, al sur; con Dr. González y Marín, al este; con Agualeguas y Cerralvo y al oeste; con General Zuazua y Ciénega de Flores. Altura sobre el nivel del mar: 490 metros.
    <div>
        <br>Flora 
        Las especies más comunes son; encinos, palmas, retamas, comas, huizaches, barretas, álamos, anacahuitas, mezquites, magueyes, pitas, lechugilla, salvia, laurel, orégano y candelilla.
    </div>



    <div>
        <br>Fauna 
        Además de la cría de ganado caprino, vacuno, equino, porcino y avícola, la fauna silvestre está compuesta por; liebres, conejos, coyotes, tejones, ardillas, guajolotes, reptiles, lobos, osos y venados.
    </div>


    <div>
        <br>Fiestas y danzas tradicionales
        Fiesta tradicional de la Quema de la Candelilla o Luminarias.
        Es la fiesta más antigua en Higueras. Se celebra el día 11 de diciembre de cada año y es dedicada a la virgen de Guadalupe. Suponemos que el origen sea desde 1756, fecha en la cual el Obispo de Guadalajara, Nayarit, California y el Nuevo Reino de León; Fray Francisco Buenaventura Martínez de Tejeda Diez de Velazco, lanzara un edicto en el cual se menciona:

        <br>"Se conceden 40 días de indulgencia a quienes por noche de la víspera y día de Guadalupe, adornasen la puerta de su casa y calle, iluminándola con luces y luminarias e hicieran obras piadosas y demostraciones de gratitud, júbilo y alegría".

        <br>En Higueras la preparación de este festejo es un ritual que se inicia días antes del 11 de diciembre, los habitantes acuden en familia a las lomas cercanas al pueblo, a cortar las ramas de un arbusto denominado candelilla. El corte debe ser con las manos y pies, la tradición indica que no debe utilizarse ningún instrumento cortante.
    </div>


    <center>
        <img style="margin:12px 0 12px 0;" src="img/Higueras1.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>

    <br>
    <center>
        <center>
            <a href="index2.php"><font color="#black">REGRESAR A LA PAGINA PRINCIPAL</font></a><br>
        </center>

    </center>
</div>
</body> 
