<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azullosaldamas.php";
    ?>
    <div id="page">
        <h1>Bienvenido</h1>


        <br>
        <div class="intro">
            Los Aldamas, N.L. es la cabecera municipal. Su principal actividad económica es la ganadería y el comercio. Tiene 1,991 habitantes. Está a una distancia de 160 Km. de la capital del estado.



        </div>
        Lugar Turistico.<br>
        Como lugar apropiado para la pesca deportiva, está la ribera del río San Juan y la presa La Palmita, ubicada ésta, en la congregación del mismo nombre; en ellas se puede pescar róbalo, bagre y mojarra africana pintontle.
        
        <br> <center><img style="margin:12px 0 12px 0;" src="img/Losaldamas1.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"></center><br>



    </div>
    Ubicación.<br>
    <br>
    El municipio se localiza en la región noreste del estado de Nuevo León, en las coordenadas geográficas 26o04'58'' de latitud norte y 99o11'18'' de longitud oeste según el meridiano de Greenwich. Colindando al norte con el estado de Tamaulipas, al sur colinda con el municipio de Dr. Coss y China. N.L., al oriente con el municipio de Dr. Coss, N.L y el estado de Tamaulipas y al poniente colinda con los municipios de Gral. Treviño, Melchor Ocampo y Los Herreras, N.L.
    



    <div>
        <br>Flora 
        La región pertenece a la región Zoogeográfica de la provincia Tamaulipeca, contando con flora correspondiente a tipo semidesértico, encontrándose comúnmente el amargoso, Tasajillo, huizache, granjeno, nopal, mejorana, etc.
    </div>


    <div>
        <br>Fauna 
        La fauna correspondiente al tipo de vegetación, como coyote, armadillo, jabalí, tejón, zorrillo, serpientes de varias clases; predominando la de cascabel, así como gatos monteses y venados. También es posible encontrar aves acuáticas en los cauces de ríos y lagunas, como pato mexicano y garzas.
    </div>


    <div>
        <br>Fiestas y danzas tradicionales
        12 de diciembre, día de la virgen de Guadalupe, patrona del pueblo desde su fundación. Kermesse, baile popular, eventos religiosos.
        1 de noviembre, fiesta tradicional de Congregación Barrio Mujeres, baile popular, kermesse, charreada. No tiene origen definido.
    </div>


    <center>
        <img style="margin:12px 0 12px 0;" src="img/Losaldamas2.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>

    <br>
    <center>
        <form method="get" action="http://aprenderaprogramar.com/accion.php">
            <input type="submit" value="Regresar" />
        </form>
    </center>
    
</div>
</body> 
