<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/logo2.php";
    ?>
    <div id="page">
        <h1>Bienvenido Montemorelos</h1>
        <?php
    include "include/compartir.php";
    ?>

    <div class="intro">
        El municipio de Montemorelos se caracteriza por su comida.

    </div>
    <center>
        Lugar Tur&iacute;sticos.<br>
        los templosdel Sagrado Coraz&oacute;n, San Mateo, nuestro Padre Jes&uacute;s y el monumento a don Jos&eacute; Mar&iacute;a Morelos y Pavón.
    </center>
    <center>
        <img style="margin:12px 0 12px 0;" src="img/santuario.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
</div>
Ubicaci&oacute;n.<br>
El municipio de Montemorelos se localiza en la parte central del estado de Nuevo León, colinda al límite norte con Cadereyta Jiménez, al sur con Linares y Los Rayones, al este con General Terán y Linares y al oeste con Allende, Los Ramones y Galeana.
<center>
    <img style="margin:12px 0 12px 0;" src="img/montemorelos.jpg" width="250" height="300" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>

<center>
    Artesanias<br>
    Se dedican a la fabricaci&oacute;n de trompos, yoyos, baleros de madera. Hay tambi&eacute;n artesanos que se dedican a la f&aacute;brica de sillas r&uacte;sticas de tenaza y carpinteros que producen carretas, tartanas y diligencias
</center>
<center>
    Flora
    <br>

</center>
<center>
     <br>Fauna
    En lo que es la fauna esta el conejo, la ardilla, liebre, tej&oacute;n, tlacuache, t&oacye;rtolas, cuervos, zopilotes, b&uacute;hos, palomas, &aacute;guilas, cardenales, colibríes.

</center>
<center>
    
    Fiestas y danzas tradicionales<br>
    Una de sus tradiciones es la Feria Regional de la Naranja.
    <br>
</center>
<center>
    <img style="margin:12px 0 12px 0;" src="img/monte.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>

<center>
    <a href="index2.php"><font color="#black">REGRESAR A LA PAGINA PRINCIPAL</font></a><br>
    </center>

   
</body> 
