<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/logo2.php";
    ?>
    <div id="page">
        <h1>Bienvenido Pesqueria</h1>
        <?php
    include "include/compartir.php";
    ?>

    <div class="intro">
        Pesqueria, N.L., se caracteriza por el Ojo de Agua y por El Mirador ya que ahi se puede ver la salida y entrada de los aviones.
    </div>
    <center>
        Lugar Tur&iacute;sticos.<br>
        Este municipio cuenta con un hermoso ojo de agua en donde hay dos albercas cuyo suministro de aga potable es continuo y no requiere tratamiento.
    </center>
</div>

Ubicaci&oacute;n.<br>
Se localiza en la parte central del estado, en las coordenadas 25 47'latitud norte y 100 3' longitud oeste con una altura sobre el nivel del mar de 330 m. Limita al norte con Mar&iacute;n y Dr. Gonz&aacute;lez al sur con Cadereyta Jim&eacute;nez, y Apodaca.
Al este con los Ramones y al oeste con Apodaca.
<center>
    <img style="margin:12px 0 12px 0;" src="img/pesqueria.jpg" width="250" height="300" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>

<center>
    Flora
    <br>
    Su vegetaci&oacute;n est&aacute; formada por Anacahuita, Huizache, cenizo, mezquite, barreta.
</center>

<center>
     <br>Fauna
    Su fauna la integran elvenado, conejo, jabal&iacute;, liebres y coyote
</center>
<center>
   
    Fiestas y danzas tradicionales<br>
    El d&iacute;a 10 de diciembre es la fecha en que se rinde homenaje a la Virgen de Loreto, patrona del pueblo y se organizan festivales con danzantes, vendimias populares y las ma&ntilde;anitas.
</center>
<center>
    <img style="margin:12px 0 12px 0;" src="img/ppesqueria.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>

<center>
    <a href="index2.php"><font color="#black">REGRESAR A LA PAGINA PRINCIPAL</font></a><br>
</center>


</body> 
