<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/rayones.php";
    ?>
    <div id="page">
        <h1>Bienvenido Rayones</h1>
        <?php
    include "include/rayones.php";
    ?>

    <div class="intro">
        Rayones,N.L. se pueden admirar parajes de gran belleza natural.
    </div>
    <center>
        Lugar Tur&iacute;sticos.<br>
        Cerca de los R&iacute;os Pilos y Casillas se encuentran asadores para pasar un agradable d&iacute;a de campo disfrutando del bello paisaje natural y del tranquilo correr del agua. Y si se quiere practicar la pesca con visor y fisga, el R&iacute;o Casillas es el lugar indicado.
    </center>
    <center>
        <img style="margin:12px 0 12px 0;" src="img/rio.jpg" width="620" height="400" alt="Imagen para el intro" title="ramones"><br>
    </center>
</div>
Ubicaci&oacute;n.<br>
El municipio de Rayones, se encuentra situado en la Sierra Madre Oriental y forma parte de la regi&oacute;n sur del estado.
Rayones limita al norte con Santiago, al sur con Galeana e Iturbide, al oriente con Montemorelos y al poniente con Galeana y Coahuila.<center>
    <img style="margin:12px 0 12px 0;" src="img/rayones.jpg" width="250" height="300" alt="Imagen para el intro" title="rayones"><br>
</center>
<br>

</div>

<center>
    Flora
    <br>
    Est&aacute; cubierto por vegetaci&oacute;n de matorral bajo espinoso: chaparro, mezquite, huizache, lechuguilla, nopal, palma, barreta y zacate, etc.
</center>
<center>
    Fauna <br>
    La fauna est&aacute; constituida principalmente por conejo, comadreja, tlacuache, coyote, jabal&iacute;, venado cola blanca, oso negro, le&oacute;n, puma y gato tigrillo.
</center>
<center>
   
    Fiestas y danzas tradicionales<br>
    El 29 de septiembre, el municipio acostumbra festejar el d&iacute;a del santo patrono del pueblo "San Miguel Arc&aacute;ngel", con procesi&oacute;n y misas. La Feria de la Nuez que es durante los meses de septiembre-octubre, el 12 de diciembre se festejan las fiestas a la Virgen de Guadalupe, con pastorelas, danzas, misas y rosarios.
</center>
<center>
    <img style="margin:12px 0 12px 0;" src="img/22-09-14-Rayones-NL.jpg" width="620" height="400" alt="Imagen para el intro" title="rayones"><br>
</center>

<center>
    <a href="index2.php"><font color="#black">REGRESAR A LA PAGINA PRINCIPAL</font></a><br>
</center>


</body> 
