<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/logo2.php";
    ?>
    <div id="page">
        <h1>Bienvenido San Pedro Garza Garcia</h1>
        <?php
    include "include/compartir.php";
    ?>

    <div class="intro">
        San Pedro Garza Garcia es recononocida por el Alfa.
    </div>
    <center>
        Lugar Tur&iacute;sticos.<br>
        Tambi&eacute;n se cuenta con el Centro Cultural Alfa, con un &aacute;rea de 3,000 metros cuadrados, distribuido en cuatro pisos, esta destinado a las exhibiciones permanentes de ciencia, tecnolog&iacute;a y arte.
    </center>
    <center>
        <img style="margin:12px 0 12px 0;" src="img/san_pedro.jpg" width="620" height="400" alt="Imagen para el intro" title="Vallecillo"><br>
    </center>
</div>
Ubicaci&oacute;n.<br>
Se ubica en el &acute;rea metropolitana junto a la capital del estado de Nuevo Le&oacute;n. En las coordenadas 25 40' de latitud norte y 100 24' longitud oeste. Limita al norte y al este con la ciudad de Monterrey, y al sur y oeste con el municipio de Santa Catarina.
<center>
    <img style="margin:12px 0 12px 0;" src="img/spgg.jpg" width="250" height="300" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>

<center>
    Flora
    <br>
    En cuanto la fauna se encuntra los pastizales, arbustos espinosos y &aacute;rboles tales como; mezquites, acacia, yuca, agabe y algunas cact&aacute;ceas.
</center>
<center>
     <br>Fauna
    En cuanto a la fauna est&aacute; liebres, conejos, coyotes y en la parte alta de la Sierra Madre; gato mont&eacute;s y zorros, as&iacute; como &aacute;guilas y cotorros
</center>
<center>
    
    Fiestas y danzas tradicionales<br>
    Fiesta de San Pedro y San Pablo, celebrada cada a&ntilde;o la segunda quincena del mes de junio. Donde se instalan juegos mec&aacute;nicos, antojitos,exposiciones, se realizan eventos culturales, y el 29 de junio se culmina con una gran verbena y juegos pirot&eacute;cnicos.
</center>
<center>
    <img style="margin:12px 0 12px 0;" src="img/Vallecillo.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>

<center>
    <a href="index2.php"><font color="#black">REGRESAR A LA PAGINA PRINCIPAL</font></a><br>
</center>


</body> 
