
@{
    ViewBag.Title = "apodaca";
}

<h2>apodaca</h2>
<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azulapodaca.php";
        ?>
        <div id="page">
            <h1>Bienvenido </h1>
            <?php
    include "include/compartir.php";
        ?>


        <center>
            <b>
                Lugar Tur&iacute;stico.
            </b><br>
            Los principales atractivos tur&iacute;sticos de esta regi&oacute;n son los paseos del Nogalar, zona cubierta de frondosos nogales donde existe un magn&iacute;fico balneario con las instalaciones necesarias; tambi&eacute;n la Presa de Agualeguas, que es ideal para practicar el esqu&iacute; acu&aacute;tico, pasear en lancha y pescar r&oacute;balo, bagre, mojarra y sardina; adem&aacute;s los alrededores ofrecen a los cazadores, durante la temporada invernal, abundante pato de Canad&aacute;.<br>
        </center>
        <center>
            <img style="margin:12px 0 12px 0;" src="img/iglesiaapodaca.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
        </center>
    </div>
    Ubicaci&oacute;n.  <p>El municipio de Apodaca, Apodaca se localiza dentro del área metropolitana, al noreste de la ciudad de Monterrey de la cual dista 19 kilómetros, dentro de las coordenadas 25º47' de latitud norte y 100º11' de longitud oeste.</p>
    <p>
        Se localiza a 405 metros sobre el nivel del mar. Limita al norte con el municipio de Gral. Zuazua; al sur con Guadalupe; al este con Pesquería y al oeste con San Nicolás de los Garza.<br>
    </p>


    <center>
        <img style="margin:12px 0 12px 0;" src="img/apodacamapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
    <br>

</div>

<center>
    <b>
        Hidrografía
    </b><br>
    El río Pesquería perteneciente a la vertiente del Golfo de México le atraviesa de oeste a este, cruzando la colonia Moisés Sáenz y los poblados Santa Rosa y Agua Fría. Igualmente le recorren los arroyos de Topo Chico y Talaverna que cruzan por El Mezquital y la colonia Mixcoac, respectivamente.  <br>
</center>

<center>
    <b>Flora </b>
    <br>
    Mezquite, huizache, uña de gato, cenizo, anacua, anacahuita, granjeno, chaparro prieto, nopales, etc.
    c
</center>

<center>
    <b>Fauna</b> <br>

    Conejos, liebres, tuzas, coyotes, tlacuaches, patos, palomas, distintas aves canoras, rapaces y reptiles, etc. Además, en el Ojo de Agua, hay un pez cuya especie es única en el mundo, llamado "Platy Apodaca"



</center>
<b>
    Recursos Naturales
</b>
<br>
<p>
    Sus recursos hidrológicos es lo más importante de sus recursos naturales beneficiando ampliamente sus áreas de cultivo. Ello permite usar potencialmente el suelo como recurso natural para la producción agrícola
</p>
<p>
    Asimismo, cuenta con una extensa área con nogales, y en presa de Agualeguas se puede pescar r&oacute;balo, bagre, mojarra y sardina; adem&aacute;s durante la temporada invernal, llegan a las tierras de este municipio parvadas de pato canadiense.
</p>
<br>
<center>
    <b>
        Monumentos Historicos
    </b><br>
    <p>
        Parroquia de San Francisco - Frente a la plaza principal, lado oriente. Su construcción dio inicio en 1848. La torre del campanario se concluyó en 1966.
    </p>
    <p>
        Presidencia Municipal - Frente a la plaza principal, lado poniente. Se construyó en 1976, de estilo modernista, con el cual se sustituyó el antiguo edificio de sillar. <br>
    </p>
</center>
<center>
    <img style="margin:12px 0 12px 0;" src="img/monuapodaca.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<center>
    <b>
        Fiesta Danza y tradicionales
    </b><br>
    Fiestas Populares
    <p>
        Huinalá - Aunque las festividades de este poblado estuvieron suspendidas durante mas de quince años, se reanudaron en 1986. El patrono es San José, siendo su festividad el diecinueve de marzo.
    </p>
    <p>
        La Encarnación.- La patrona de la comunidad es la Virgen de la Encarnación, que se celebra el 25 de marzo.
    </p>
    <p>

        El Mezquital.- Este poblado organiza sus festividades tomando como fecha central el 24 de junio, día de San Juan.
        Santa Rosa.- La patrona de esta comunidad es Santa Rosa de Lima, que se venera el 30 de agosto
    </p>
    <p>

        San Miguel.- El veintinueve de septiembre se llevan a cabo las fiestas correspondientes a San Miguel Arcángel.
    </p>

    <p>
        Cabecera Municipal.- El patrón de la población es San Francisco de Asís, que se festeja el 4 de octubre. La fiesta de este poblado es en torno de la Virgen de Guadalupe. Un día anterior, al oscurecer, cada familia que previamente ha acumulado frente a su domicilio ramas de chaparro prieto, les prendes fuego. A estas fogatas, los aguafrienses les llaman luminarias.
    </p>
</center>

<center>
    <b>
        Gastronomía
    </b>	<br>
    <p>

        Como en las demás regiones del estado, las comidas típicas que se elaboran en la comunidad son: tamales, barbacoa, borrego a la griega, cabrito al pastor, chorizo, carne seca, frijoles a la charra, cortadillo, fritada, asado de cerdo y carne asada.
    </p>

    <p>

        Mención especial merece el panzate que se elabora a base de hígados, riñones y en general vísceras de res, para luego cocerse bajo tierra, a la manera tradicional.
    </p>
    <p>
        Desde hace muchos años, el procedimiento de la leche ha tenido singular importancia, principalmente en lo que se refiere a la industria del queso, que le ha dado fama la región, a tal punto que hubo un tiempo en que se decía que Apodaca era "La Capital del Queso" en Nuevo León.
    </p>
    <p>
        <b>Museo</b>
        Museo Casa de la Cultura.- Se construyó en 1988 con motivo del aniversario número 100 del maestro Moisés Sáenz Garza, con el objeto de que las nuevas generaciones conocieran la historia de su municipio y para que fuera un centro de actividades artísticas y culturales, se localiza en la cabecera municipal, en el cruce de las calles de Padre Mier y Garza García, frente a la escuela secundaria Moisés Sáenz.
    </p>
</center>
<center>
    <img style="margin:12px 0 12px 0;" src="img/apodacamuseo.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>


<center>
    <b>
        Centros  Turisticos
    </b><br>
    <p>
        Lo que hace al turista visitar a este municipio son sus fiestas anuales, las del 15 y 16 de septiembre, con feria popular, y la fiesta titular en honor a San Francisco de Asís, patrono del municipio, el 4 de octubre.
    </p>
</center>

<center>
    <img style="margin:12px 0 12px 0;" src="img/oso.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>



<center>
    <a href="index2.php"><font color="#black">REGRESAR A LA PAGINA PRINCIPAL</font></a><br>
</center>
</body>


