@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/logo2.php";
    ?>
    <div id="page">
        <h1>Bienvenido a San Nicola de los Garzas</h1>
        <?php
    include "include/compartir.php";
    ?>

    <div class="intro">
        San Nicol&aacutes;s de los Garzas es uno de los municipios
    </div>
    <center>
        Lugar Tur&iacute;sticos.<br>

    </center>
    <center>
        <img style="margin:12px 0 12px 0;" src="~/plaza.jpg" width="620" height="400" alt="Imagen para el intro" title="Vallecillo"><br>
    </center>
</div>
Ubicaci&oacute;n.<br>
San Nicol&aacute;s se encuentra situado a los 25 45' de latitud norte y 100 17'de longitud oeste, encontr&aacute;ndose su cabecera municipal a una altitud de 512 metros sobre el nivel del mar, dentro de la gran llanura esteparia del noreste. Limita al norte con General Escobedo y Apodaca; al sur con Guadalupe y Monterrey, al oeste con Monterrey y con General Escobedo.

<center>
    <img style="margin:12px 0 12px 0;" src="~/Sannicolas.jpg" width="250" height="300" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>

<center>
  Flora
    <br>
    La vegetaci&oacute;n que predomina en San Nicol&aacute;s es la esteparia arbustiva, el mezquite, chaparro prieto, huizache, nopal y granjeno, etc.
</center>

<center>
   Fauna <br>
    Esta se encuentra casi desaparecida por el avance urbano, sin embargo se pueden encontrar en algunas &aacute;reas semirurales, tejones, liebres. Serpientes, roedores, aves e insectos de diferentes especies.
</center>
<center>
   
    Artesania <br>

    </center>
    <center>
       
        Fiestas y danzas tradicionales<br>
        la feria anual que se realizaba en la plaza principal y que comprend&iacute;a del 15 de agosto al 15 de septiembre, quedando dentro de este per&iacute;odo la fiesta al Santo Patrono del pueblo de San Nicol&aacute;s Tolentino
    </center>

    <center>
        <img style="margin:12px 0 12px 0;" src="~/sanicolas.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>

    
</body> 
