
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azulgaleana.php";
    ?>
    <div id="page">
        <h1>Bienvenido</h1>

        <br>
        <div class="intro">
            Galeana se encuentra ubicado en la parte central del Estado de Nuevo León, en las coordenadas 24º50' latitud norte y 100º04' longitud oeste, a una altura de 1,655 metros sobre el nivel del mar.

        </div>
        Lugar Turistico.<br>
        Galeana está rodeada de espectaculares paisajes, en cuyo perfil sobresale el interesante templo de San Pablo (siglo XVIII)A cinco kilómetros hacia el oeste y por camino de terracería, esta la bella Laguna de Labradores, donde se pueden alquilar lanchas y practicar la pesca.

        <br>
        Entre sus atractivos merece especial mención, el maravilloso paraje donde se ubica el enorme cenote llamado Pozo del Gavilán, similar a los que supuestamente sólo existen en la península de Yucatán, con agua corriente de hermosa tonalidad azul turquesa.
        <br> <center><img style="margin:12px 0 12px 0;" src="img/Galeana2.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"></center><br>

        <center><img style="margin:12px 0 12px 0;" src="~/Galeana.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"></center>


    </div>
    Ubicación.<br>
    <br>Limita al norte con Rayones, y con el estado de Coahuila; al sur con Aramberri y Doctor Arroyo; al este con Rayones, Montemorelos, Linares e Iturbide, y al oeste con los estados de Coahuila y San Luis Potosí.



    <div>
        <br>Artesanias
        Tejidos de Ixtle y lechuguilla, cobijas, jorongos y artículos tallados en madera.
    </div>


    <div>
        <br>Flora 
        Se compone de pino, encino, oyamel, cedro, mezquite, palma, lechuguilla, maguey, nopal, carrizo y nogal.
    </div>


    <div>
        <br>Fauna 
        Está conformada por conejos, leoncillo, armadillo, venado, coyote, oso, lobo, zorro, águila, cenzontle, gorrión, perro de la pradera, etc.
    </div>


    <div>
        <br>Fiestas y danzas tradicionales
        Como fiesta principal, cada año se celebra la feria de San Pablo Apóstol, patrón de la ciudad, con procesiones, pastorelas y juegos pirotécnicos, los días 15 al 20 de enero, concluyendo con feria regional. La Feria de la Papa y la Manzana se realiza del 15 al 20 de agosto. <br>
    </div>


    <center>
        <img style="margin:12px 0 12px 0;" src="~/Galeana3.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>

    <br>
   
</div>
</body> 
