@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azulbravo.php";
    ?>
    <div id="page">
        <h1>Bienvenido </h1>
        <?php
    include "include/compartir.php";
    ?>



</div><b>
    Ubicaci&oacute;n.
</b> <p> Se encuentra situado en la parte oriente del Estado de Nuevo León, en las coordenadas 25º48' de latitud norte y 99°10' de longitud oeste a una altura de 150 metros sobre el nivel del mar. Limita al norte con Doctor Coss, N.L., y Camargo, Tams., al sur con China al oriente con Reynosa, Tams., y al poniente con China.</p>


<center>
    <img style="margin:12px 0 12px 0;" src="~/bravomapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>


<center>
    <b>Flora</b>
    <br>

    <p>
        Comprende especies del clima semidesértico, tales como matorral alto y mediano, mezquite, huizache, cenizo, ébano, junco, etc.
    </p>
    </center>

    <center>
        <b>
            Fauna
            <br>
        </b> 

        Está compuesta de venado, jabalí, coyote, zorra, gato montés, aves y reptiles.

    </center>

    <b>
        Monumentos Historicos
    </b><br><p>
        Monumento de los fundadores de General Bravo que representa a una pareja con un niño.
    </p>

    <p>Busto del Lic. Arturo B. De la Garza.</p>

    <p>Busto del General Bonifacio Salinas.</p>

    <p>El llamado "Pico de la Máquina", y algunas casas que datan del siglo pasado.</p>
    <center>
        <img style="margin:12px 0 12px 0;" src="~/bravoescuela.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>

    </center>
    <center>
        
        <b>
            Fiesta Danza y tradicionales<br>
            Fiestas Populares
        </b>
        <p>
            Entre las fiestas se mencionan la de la fundación celebrada el mes de noviembre, la fiesta de la Santa Cruz, patrona del Municipio en el mes de mayo; las fiestas de septiembre: mes de la patria, y como tradición el montar a caballo el día de San Juan.
        </p>
        <center>
            <img style="margin:12px 0 12px 0;" src="~/bravoescalera.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>

        </center>
        <b>
            Museos
        </b>
        <p>
            Se encuentra en fase de recopilación de objetos históricos en el centro cultural Juan Bautista Chapa se tienen dos salas destinadas para la instalación de exposiciones temporales.
        </p>
    </center>

    <center>
        
        <b>
            Gastronomía
        </b><br>
        <p>
            Comida tradicionalmente del norte, como la fritada, los tamales, machacado, cabrito en salsa y el cortadillo de carne de res.
        </p>

        <p>
            Es costumbre que los habitantes beban agua de melón y la de sandía.
        </p>
        <p>

    </center>

    <center>
       
        <b>
            Centros Turisticos<br>
        </b>
        <p>

            El Salto, cascada de agua, el río San Juan y sus ojos de agua, La Presa Polo Carmona, ojo de agua sobre la loma de la Gallina, la presa con más variedad de peces.
        </p>

        <p>También se tiene el centro de recreación Los Olmos; la casa donde vivió el coronel Darío García Cantú; el kiosco en la plaza principal, único en su género en Nuevo León, porque fue traído desde Berlín por el general Bonifacio Salinas Leal. </p>


    </center>
    <b>
        Artesanias
    </b><br>
    <p>
        Objetos hechos de madera.
    </p>

    
</body> 
