
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azullinares.php";
    ?>
    <div id="page">
        <h1>Bienvenido</h1>


        <br>
        <div class="intro">
            Linares ofrece muestras de arquitectura religiosa como la Catedral de San Felipe (Siglo XVIII) con portada de dos cuerpos, espadaña y torre de tres cuerpos.

            <br>
            Destacan también el templo del Señor de la Misericordia construido en el siglo XVIII; el palacio municipal que data del siglo XVII; el casino de Linares (estilo francés) y los templos Catedral y capilla del Señor de la Misericordia, construida en 1783.
            

        </div>
        Lugar Turistico.<br>
        Sus atractivos turísticos son la presa Cerro Prieto, donde se practica la pesca, el parque natural Vista Hermosa con vegetación de galería, su Ojo de Agua, el cañón de Santa Rosa, con bellas formaciones geológicas, el manantial de aguas termadas San Ignacio y la feria de Villaseca.
      

        <br> <center><img style="margin:12px 0 12px 0;" src="~/Linares1.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"></center><br>



    </div>
    Ubicación.<br>
    <br>
    Linares se encuentra al sureste de la ciudad de Monterrey, en la región Llanura Costera del Golfo. Se ubica en la parte central sur del estado de Nuevo León, bajo las coordenadas 24º51' de latitud norte y 99º24' de longitud oeste, a 350 metros sobre el nivel del mar. Sus límites son al norte con Hualahuises y Montemorelos; al sur y este con el estado de Tamaulipas y al oeste con Galeana e Iturbide.
  



    <div>
        <br>Flora 
        Mezquite, tenaza, barreta, anacahuita, huizache, granjeno, chapote, uña de gato, chaparro prieto, pino, encino y roble.
    </div>


    <div>
        <br>Fauna 
        Se puede encontrar oso gris, jabalí, puma, venado cola blanca, coyote y conejo. En los arroyos que cruzan el municipio abundan el robalo, el bagre y el bacón.
    </div>


    <div>
        <br>Fiestas y danzas tradicionales
        Linares celebra la feria de Villa Seca en el mes de agosto, entregando una tambora como símbolo a los ciudadanos distinguidos.
        También se celebra la feria regional, que se efectúa a fines de febrero y principios de marzo; cabe mencionar que Linares es cuna de las danzas más festivas y originales del norte del país, además de la música de tambora y picota.
        Leyenda: "Se lo tragó la tierra".
    </div>


    <center>
        <img style="margin:12px 0 12px 0;" src="~/Linares2.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>

    <br>
    
</div>
</body> 
