<html>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
  
    <body style="background-image:url(../../neptuno2.jpg); background-repeat:no-repeat; background-attachment: fixed">
     
        <center>
            <MARQUEE BGCOLOR="#32CD32">
                <FONT FACE="arial" SIZE=20 COLOR=white>Visita Nuevo Leon</FONT>
                </MARQUEE>
                <p>
                    <img src="~/Logo.jpg">
                </p>
</center>
        <MARQUEE BGCOLOR="#32CD32">Selecciona El Municipio Que Deseas Visitar</MARQUEE>
        <audio src="~/Corrido de Monterrey - La Sultana del Norte ..mp3" controls></audio>
<a href="~/Views/abasolo.cshtml"></a>
        <MARQUEE BGCOLOR="#FFFFFF">
             @Html.ActionLink("Monterrey", "Index", "Home")
            @Html.ActionLink("Lampazos", "Index", "LampazosDelNaranjo")
            </MARQUEE>

</body>
</html>