@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azullosramones.php";
    ?>
    <div id="page">
        <h1>Bienvenido</h1>


        <br>
        <div class="intro">
            Cabecera municipal. Su nombre es Los Ramones, se encuentra a 120 kilómetros de distancia de Monterrey; tiene una población aproximada de 1,300 habitantes; el municipio Los Ramones esta conformado por 74 localidades entre las que destacan San Isidro, El Carrizo, San Isidro y San Benito con menos de 500 habitantes.


        </div>
        Lugar Turistico.<br>
        El municipio de Los Ramones cuenta con parajes naturales a orillas de los arroyos Omona, Ayancual y Río San Juan, en este último se acostumbra acampar a las orillas, que en pequeños islotes esta tapizado de patos. También en el mismo río se practica la pesca deportiva de mojarra, carpa, sardina, bagre y pintontle. Otro atractivo turístico es el paso del indio, lugar donde se hallan valiosos restos arqueológicos.
       

        <br> <center><img style="margin:12px 0 12px 0;" src="~/Losramones2.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"></center><br>



    </div>
    Ubicación.<br>
    <br>
    Los Ramones se encuentra ubicado en la región centro oriental del estado de Nuevo León, en las coordenadas 25º42' latitud norte y 99º37' de longitud oeste; se encuentra a 226 metros sobre el nivel del mar. Colinda con Cerralvo al norte, con General Terán al sur, al este con China y Los Herreras y al oeste con Cadereyta Jiménez, Pesquería y Dr. González.
    




    <div>
        <br>Flora 
        Su vegetación es tipo estepario: Uña de gato, nopal, pitaya, mezquite, huizache y matorral bajo espinoso.
    </div>



    <div>
        <br>Fauna 
        En cuanto a su fauna se encuentra gato montés, leoncillo, jabalí, conejo y reptiles.
    </div>


    <div>
        <br>Fiestas y danzas tradicionales
        La fiesta religiosa acostumbrada a festejar en el municipio es la de San José, patrono del pueblo. Por ello, se prepara todo el pueblo a celebrar al 19 de marzo, se presentan matachines, juegos pirotécnicos y quema de castillo.

        <br>Otra de sus principales festividades es su aniversario en erección de Villa, para la cual se prepara una feria en donde hay vendimias, bailes, eventos culturales, juegos mecánicos y muestra gastronómica.
    </div>


    <center>
        <img style="margin:12px 0 12px 0;" src="~/Losramones1.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>

    <br>
    
</div>
</body> 
