@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
       
    <div id="page">
        <h1>Bienvenido </h1>
        



</div><b>
    Ubicaci&oacute;n.
</b> <p>General Zaragoza se encuentra al sur del estado de Nuevo León, es el municipio No. 24 en el estado, en la zona económica ixtlera (región fisiográfica Sierra Madre Oriental)Sus coordenadas geográficas son: 23º58'30' de latitud norte y 99º46'de longitud oeste, a una altura de 1,380 metros sobre el nivel del mar.</p>

<p>Limita al norte con el municipio de Aramberri, al sur con los municipios de Hidalgo, Güemez y Miquihuana del Estado de Tamaulipas y al oeste con Doctor Arroyo.</p>


<center>
    <img style="margin:12px 0 12px 0;" src="~/zaragozamapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>


<center>
    <b>Flora</b>
    <br>

    <p>
        Por su clima tan variado, la orografía de Zaragoza, tiene una flora muy variada ya que cambia de una región a otra. En la parte plana se encuentra: mezquite, nopal, huizache, diversas plantas arbustivas. Gran variedad de cactus como biznagas, oréganos, etc., coyonztli, palmas, magueyes, lechuguilla y flores silvestres que embellecen el campo por ejemplo: girasol, yerbaniz, cenizo, etc.
    </p>
</center>
<center>
    <p>En la región alta de la sierra se hallan especies maderables: pino, encino, ayarín, cedro, anacahuita, pinabete, madroño, así como otras variedades como: piñonero, maguey, lantrisco, laurelillo, zoyate, palma, taray, paistle.
</center>
<center>
    <p>Asimismo, en las casas de la sierra, se verán una gran variedad de flores de ornato que no se dan en la cabecera municipal, como: petunias, aretes, pensamientos, fresas silvestres, jalapeñas y otras más.</p>
</center>
<center>
    <p>En la región plana en lo que es la cabecera municipal encontraremos árboles frutales como: nogal, aguacate, naranja, manzana, limón, higuera, membrillo y nopales y las flores de ornato como: el alcatraz que es la flora representativa del municipio, dalias, nochebuena, malvas, bugambilias, huele de noche, azucenas, rosales y una variedad de rosal como la enredadera.</p>
</center>
<center>
    <b>Fauna</b>
    <br>

    <p>
        También podríamos hablar de una gran variedad, principalmente en el clima templado, en el cual encontraremos: venado, oso, gato montés, zorrillo, conejo, coyote, jabalí, guajolotes, guacamayas, cardenales, pájaro azul, jilguera, cenzontles, colibrí, ardillas, víboras y otros mas.
    </p>

</center>
<center>
    <b>
        Monumentos Historicos
    </b><br><p>
        Arquitectónicos.- La iglesia de San José data desde la época de la colonia. Destruido en la Revolución y reconstruido el año de 1952.
        Escultóricos.- Escultura del General Ignacio Zaragoza y del Benemérito de las Américas Lic. Benito Juárez, instalados en cada una de las plazas que llevan su nombre.
    </p>
</center>
<center>
    <img style="margin:12px 0 12px 0;" src="~/generalestatua.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>

</center>
<center>
    
    <b>
        Fiesta Danza y tradicionales<br>
        Fiestas Populares
    </b>
    <p>
        La fiesta patronal es la más importante del pueblo, se lleva a cabo el 19 de marzo, día en que se celebra el santo del señor San José, patrono del pueblo; esta celebración se inicia el día 17 para terminar el día 21 con la celebración del natalicio del benemérito Lic. Don Benito Juárez y la llegada de la primavera
    </p>

    <p>
        Semana Mayor. Se inicia con los oficios religiosos del Jueves Santo, el viernes por la tarde o por la noche se inicia la procesión del vía crucis, la quema del diablo se efectúa el sábado de gloria por la tarde.
        Día de Santiago. también llamado día de la Chiva.- El 25 de julio se conoce en el municipio de Zaragoza como el día de la Chiva.
        Día de Muertos.La noche del día primero de noviembre (día de los angelitos)
    </p>

    <p>Día de la "Virgen de Guadalupe".- 12 de diciembre, este día se celebra contando las mañanitas a la virgen a las 00 horas en el templo del señor San José para partir a las 3:00 A.M.</p>

    <p>
        Las posadas.Se festejan del 16 al 24 de diciembre
        Alabanzas. Se les canta alabanzas a las personas principalmente mayores de edad que mueren.
    <p>

    <p>Difuntos.Es una costumbre de todo el pueblo que cuando muere un angelito o una doncella, durante su velorio y su sepelio se truenen cohetes por todo el camino.</p>

    <p>
        Bodas.Todavía se acostumbra hacer el tálamo.
        La sortija.Esta suerte se lleva a cabo el día de Santiago o día de la Chiva, se colocan unas sortijas o argollas colgadas con un listón en una viga, los jinetes montados a caballo y a galope tratarán de enganchar la sortija con un palito.
    </p>

    <p>Fechas cívicas.15 de septiembre, día de la Independencia; 16 de Septiembre, desfile y ceremonia cívica; 21 de marzo, ceremonia cívica y guardia de honor frente al monumento; 5 de mayo desfile, ceremonia cívica, y guardia de honor frente al monumento y 20 de noviembre, desfile deportivo.</p>





    
        Gastronomía	<br>
</center>
<p>
    Alimentos: Asado de puerco, asado de res, fritada, picadillo, menudo, caldo de res sin verduras sazonado con hierbabuena, en cuaresma se preparan los siguientes platillos: nopalitos en diferentes maneras, flores de palma, cabuches, flor de calabaza, flor de maguey, orejones de calabaza, chicales, papitas con chile rojo, albóndigas de papa.
</p>

<p>Caldillo blanco, en el cual se remojan las albóndigas de papa, atole de arroz, habas, chícharos, lentejas y calabacita tierna, barbacoa de pozo, gorditas y panes cocidos en hornos "panaderos", dulces de calabaza, biznaga de leche y de chilacayote, así como cajeta de manzana, membrillo, agua miel de maguey, atole de masa con aguamiel, atole blanco y mezcal.</p>




<center>
    
    <b>
        Centros Turisticos<br>
    </b>
    <p>

        El principal atractivo turístico es paseos naturales, inmensos cañones con exuberante vegetación. La laguna de Los Pericos, El Salto que es el paraje de mayor afluencia turística en el municipio
    </p>




</center>
<center>

    <b>
       
            Artesanias
        
    </b>
    <p>Se fabrican artículos de piel con el nombre de Zaragoza N.L.</p>
</center>

</body> 
