@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
       
    <div id="page">
        <h1>Bienvenido</h1>


        <br>
        <div class="intro">
            García cuenta con algunas montañas y cerros entre los que destacan el cerro de El Fraile situado al norte de la cabecera municipal; sus estribaciones se extienden por gran parte del territorio. Toca al municipio en el norte la sierra Espinazo de Ambrosio. El cerro de Las Mitras se extiende desde Monterrey hasta García. En el cerro El Fraile se encuentran las conocidas Grutas de García.

        </div>
        Lugar Turistico.<br>
        Por su belleza que ha sido captada por los expertos pinceles de artistas nacionales y extranjeros, el cerro de El Fraile; en éste se encuentran las famosas Grutas de García, joya nacional del estado de Nuevo León.

        <br>
        Las Grutas constan de 16 salones que se pueden visitar a través de un recorrido aproximado de dos y medio kilómetros. A lo largo del trayecto, que dura alrededor de 90 minutos se disfruta de extraordinarias formaciones de estalactitas y estalagmitas.
      

        <br>
        En las paredes de estas cavernas es fácil adquirir caracoles y conchas de mar petrificados, lo que hace suponer que este lugar estuvo sumergido en el mar.
       
        <br> <center><img style="margin:12px 0 12px 0;" src="~/Garcia2.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"></center><br>




    </div>
    Ubicación.<br>
    <br>García se localiza en las coordenadas 25º49' latitud norte y por 100º35' longitud oeste, a una altura de 697 metros sobre el nivel del mar. Limita al norte con Mina, General Escobedo e Hidalgo, al sur y este con Santa Catarina y al oeste con el estado de Coahuila.



    <div>
        <br>Flora 
        Prevalecen las condiciones de aridez, la vegetación está constituida principalmente por arbustos espinosos y árboles bajos con mezcla de yudas, agabes y cactáceos.Entre las plantas más comunes destacan: el izote, mezquite, uña de gato, ébano, palo verde, vara dulce, saladilla y gobernadora.
    </div>


    <div>
        <br>Fauna 
        Está integrada por coyote, gato montés, jabalí, armadillo, zorra del desierto, rata, y conejo; entre las aves sobresalen la codorniz tejana y escamora, tecolote, amargo, pato trigueño, pájaro carpintero, chindiquito y chilero.
    </div>


    <div>
        <br>Fiestas y danzas tradicionales
        La festividad más antigua se lleva a cabo el 24 de junio en honor del Santo Patrono del municipio; del primero al 15 de agosto se realiza la feria de la granada y el 6 de agosto se festeja el templo del Santo Cristo y la iglesia de San Elías. <br>
    </div>


    <center>
        <img style="margin:12px 0 12px 0;" src="~/Garcia1.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>

    <br>
    
</div>
</body> 
