

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azularramberri.php";
    ?>
    <div id="page">
        <h1>Bienvenido </h1>
        <?php
    include "include/compartir.php";
    ?>


    <center>
        Lugar Tur&iacute;stico.<br>
        Los principales atractivos tur&iacute;sticos de esta regi&oacute;n son los paseos del Nogalar, zona cubierta de frondosos nogales donde existe un magn&iacute;fico balneario con las instalaciones necesarias; tambi&eacute;n la Presa de Agualeguas, que es ideal para practicar el esqu&iacute; acu&aacute;tico, pasear en lancha y pescar r&oacute;balo, bagre, mojarra y sardina; adem&aacute;s los alrededores ofrecen a los cazadores, durante la temporada invernal, abundante pato de Canad&aacute;.<br>
    </center>
    <center>
        <img style="margin:12px 0 12px 0;" src="~/casita.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
</div>
Ubicaci&oacute;n.  El municipio de Arramberri,  se localiza en la parte sur del estado de Nuevo León, en las coordenadas 24º49' longitud oeste, a una altitud de 1077 m. sobre el nivel del mar. Limita al norte con Galeana e Iturbide, al sur con Doctor Arroyo y Zaragoza, al este con Tamaulipas y al oeste con Galeana y Doctor Arroyo. Su distancia aproximada a la capital del Estado es de 300 kilómetros.<br>


<center>
    <img style="margin:12px 0 12px 0;" src="~/arramberrimapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>

<center>
    Artesanias<br>
    Pinturas.- Retrato al óleo del general José Silvestre Aramberri, ubicado en la Presidencia Municipal. En la Cueva del Cordel o Gardel existen murales rupestres en plenas paredes rocosas. <br>
</center>
<center>
    Flora
    <br>
    </center>



    La flora es variada, prevaleciendo en la sierra los pinos, encinos, hoyameles, laureles y otros.
    
    <center>
        Fauna <br>

        En la fauna existe el leopardo, oso negro, coyote, zorra, venado cola blanca, liebre, conejo y aves

    </center>
    Recursos Naturales
    <br>
    <p>
        La principal fuente de ingresos para la gente de este municipio y su cabecera, es la fruticultura, se cosecha aguacate, nuez, manzana, durazno, granada, tuna, higo, maíz, trigo, frijol, caña de azúcar, cebada, alfalfa, calabaza, ajo y otros.


    </p>
    <p>
        Cerca de la cabecera hay una mina talco puro que tiene mas de 50 años en explotación, existiendo también yacimientos localizados de cobre, zinc, cuarzo y otros metales que no se explotan por empresarios y capitales.
    </p>
    <br>
    <center>
        
        Monumentos Historicos<br>
        La Anacua de la Conquista, donde se dijo la primera misa, con un sencillo monumento.
        En el centro del panteón municipal, existe un obelisco donde estuvieron los restos del general José Silvestre Aramberri.<br>
    </center>

    <center>
        
        Fiesta Danza y tradicionales<br>
        En la cabecera se hacen dos fiestas o funciones populares al año. Una, la Fiesta del Aguacate, del 1º al 8 de agosto, en honor de Nuestra Señora de los Angeles, y otra, en Navidad, del 20 al 31 de diciembre. Se efectúan toda clase de juegos permitidos por la ley, además de danzas y pastorelas.<br>
    </center>

    <center>
       
        Gastronomía	<br>
        <p>
            Alimentos
            Nogada, dulces a base de leche quemada.
        </p>
        <p>
            Hidrografía

            Río Blanco que nace en Zaragoza, atraviesa el municipio en la parte sureste; al norte río Vacas y el río Vírgenes e innumerables arroyos con agua permanente, que nacen en las sierras del municipio y se internan todos en el estado de Tamaulipas. En la altiplanicie, en Las Vegas, se encuentran esteros y pozos profundos para el abastecimiento de agua.
        </p>
    </center>


    <center>
        
        Centros Turisticos<br>
        <p>
            La Playita, balneario que cuenta con alberca olímpica y asadores debajo de frondosos nogales y a la orilla del Río Blanco. El Morro, con hermosas y frescas presas naturales bajo álamos y sauces sombríos. En la fracción de El Río, se encuentra una cueva llamada "El Cordel", donde pueden apreciarse pinturas rupestres de la época precortesiana. En La Soledad, La Laguna de Bocareli, en la Hacienda de la Presa, hay edificaciones antiguas, dignas de visitarse. El Salto, cascada natural, que aunque se encuentra en el municipio de Zaragoza, se toma como centro a Aramberri porque es donde hay mejor alojamiento.
        </p>
    </center>

    <center>
        <img style="margin:12px 0 12px 0;" src="~/playita.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>

    <center>
        <a href="index2.php"><font color="#black">REGRESAR A LA PAGINA PRINCIPAL</font></a><br>
    </center>
    
</body> 
