@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
</head>


<body>
    <div id="inicio"></div>
    <div id="header">
        
    <div id="page">
        <h1>Bienvenido Allende</h1>
       

    <div class="intro">
        El municipio de Allende, N.L. se localiza a 46.7 Km (30 millas) sobre la autopista a Linares hacia el sur de la ciudad de Monterrey, capital del estado, en lo que se conoce como regi&oacute;n citr&iacute;cola.
        Allende limita: Al norte con Cadereyta Jim&eacute;nez, al sur con Montemorelos, y al oriente con Santiago. La cabecera municipal se encuentra en las coordenadas 25 y  17 de latitud norte y 100  de longitud oeste. Se encuentra a una altitud de 474 metros sobre el nivel del mar (m.s.n.m.).



    </div>
    <center>
        Lugar Tur&iacute;sticos.<br>
        El Rio Ramos de Allende, N.L. se localiza a 46.7
        Km (30 millas) sobre la autopista a Linares hacia el sur de la ciudad de Monterrey, capital del estado, en loque se conoce como regi&oacute;n citr&iacute;cola.<br>
    </center>
    <center>
        <img style="margin:12px 0 12px 0;" src="img/allende.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
</div>
Ubicaci&oacute;n.<br>


<center>
    <img style="margin:12px 0 12px 0;" src="img/allendemapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>

<center>
    Artesanias<br>
    Obras de Arte.- Pintura al &Oacute;leo de Nuestra Se&ntilde;ora de Guadalupe, pintada por Jos&eacute; C. Alc&iacute;var, uno de los artistas m&aacute;s distinguidos del siglo XVIII y disc&iacute;pulo del ameritado pintor Miguel Cabrera. La pintura se conserva en la iglesia del mismo nombre.  <br>
</center>
<center>
    Flora
    <br>
    Por lo que respecta a la flora se encuentra barreta, anacahuita, palma, encino, guajillo y pinos.
</center>
<center>
    Fauna <br>

    En cuanto a la fauna se tienen mam&iacute;feros, aves, reptiles y peces. Hay oso, coyote, hur&oacute;n, zorra, tej&oacute;n, tlacuache, gato mont&eacute;s, ratas y conejos; entre las aves se enumeran la urraca, cuervo, zopilote, aguililla, gavil&aacute;n perdiz, fais&aacute;n, cenzontle, cardenal, tecolote, lechuza, golondrina, pato grulla y garza.

    Existen reptiles como cr&oacute;talo, v&iacute;bora negra, coralillo, tortuga terrestre, tortuga acu&aacute;tica, lagartija y camale&oacute;n; en cuanto a peces se encuentra matalote, bagre y mojarra.
</center>
<center>
    
    Fiestas y danzas tradicionales<br>
    El d&iacute;a cinco de abril se celebra el aniversario de la fundaci&oacute;n del municipio, con feria, coronaci&oacute;n de la Reina, p&oacute;lvora y juegos mec&aacute;nicos. El 15 y 16 de septiembre se realizan el tradicional Grito de Independencia y desfile c&iacute;vico por las principales calles del municipio; El 20 de noviembre tambi&eacute;n se realiza desfile c&iacute;vico. <br>
</center>
<center>
    <img style="margin:12px 0 12px 0;" src="img/animales.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>

<center>
    <a href="index2.php"><font color="#black">REGRESAR A LA PAGINA PRINCIPAL</font></a><br>
</center>


</body>
</html>
