@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azulgonzales.php";
    ?>
    <div id="page">
        <h1>Bienvenido </h1>
        <?php
    include "include/compartir.php";
    ?>



</div><b>
    Ubicaci&oacute;n.
</b> <p>
    Doctor González se ubica en las coordenadas geográficas 25º26' de latitud norte y 95º57' de longitud oeste en la región centro - este del Estado de Nuevo León a una altura de 404 metros sobre el nivel del mar. Su distancia del municipio de Monterrey es de 48 km. por la carretera Monterrey - Miguel Alemán.

    Limita con Higueras, Cerralvo, al sur con Pesquería y Los Ramones; al este con Cerralvo y al oeste con Marín.
</p>


<center>
    <img style="margin:12px 0 12px 0;" src="~/gonzales.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>


<center>
    <b>Flora</b>
    <br>

    <p>
        Matorral espeso tamaulipeco y mezquite
    </p>
    </center>
    <center>
        <b>
            Fauna
        </b> <br>

        Los recursos naturales lo componen sus tierras agricolas.

    </center>

    <b>
        Monumentos Historicos
    </b><br><p>
        El Centro Cultural Juan Bautista Chapa, el reloj público, la presidencia municipal, la iglesia Sagrado Corazón de Jesús y San José de Nuevo Repueblo.
    </p>


    <p>Históricos.- En la plaza de Juárez se encuentra un busto del Lic. Benito Juárez, en el Parque Miguel Hidalgo se halla la escultura del Padre de la Patria y un monumento a los fundadores de la ciudad de Doctor Arroyo.</p>
    <center>
        <img style="margin:12px 0 12px 0;" src="~/gonzales.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>

    </center>
    <center>

        <b>
            Fiesta Danza y tradicionales<br>
            Fiestas Populares
        </b>
        <p>
            Fiestas de aniversario. Del 31 de octubre al 8 de noviembre
            Fiesta de aniversario. De la erección del municipio de Doctor González
            Fiestas Patronales. En la última semana de junio se celebra la fiesta patronal del Sagrado Corazón de Jesús.
        <p>
            <b>
                Museos
            </b>
        </p>
        <p>
            Se encuentra en fase de recopilación de objetos históricos en el centro cultural Juan Bautista Chapa se tienen dos salas destinadas para la instalación de exposiciones temporales.
        </p>
    </center>

    <center>
       
        <b>
            Gastronomía
        </b><br>
        <p>
            Los platillos tradicionales son: el guisado de res, fritada de cabrito, asado de puerco, repostería, turcos, empanadas, hojarascas, gordas de elotes y dulces típicos, queso de leche, recocida y dulces de leche conocidas como "bolita de leche".
        </p>
        <p>

    </center>

    <center>
        
        <b>
            Centros Turisticos<br>
        </b>
        <p>

            Para recreo de los visitantes y pobladores del municipio, existe en el rancho La Venadera una ciénega en cuyos alrededores existen estupendos parajes para acampar.
        </p>


    </center>
    <b>
        Artesanias
    </b><br>
    <p>
        Conocidas en la región y en el sur de Texas son las carretas realizadas a escala.
    </p>
   
</body> 
