@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azulbustamante.php";
    ?>
    <div id="page">
        <h1>Bienvenido </h1>
        <?php
    include "include/compartir.php";
    ?>


    <center>
        <b>
            Lugar Tur&iacute;stico.
        </b><br>
        Los principales atractivos tur&iacute;sticos de esta regi&oacute;n son los paseos del Nogalar, zona cubierta de frondosos nogales donde existe un magn&iacute;fico balneario con las instalaciones necesarias; tambi&eacute;n la Presa de Agualeguas, que es ideal para practicar el esqu&iacute; acu&aacute;tico, pasear en lancha y pescar r&oacute;balo, bagre, mojarra y sardina; adem&aacute;s los alrededores ofrecen a los cazadores, durante la temporada invernal, abundante pato de Canad&aacute;.<br>
    </center>
    <center>
        <img style="margin:12px 0 12px 0;" src="~/bustamantecapilla.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
</div>
Ubicaci&oacute;n.  El municipio de Bustamante, Bustamante se ubica al noroeste del estado en las coordenadas 26° 35' latitud norte y 100°31' longitud oeste, a una altura de 427 metros sobre el nivel del mar. Por el norte limita con el municipio de Lampazos de Naranjo y el estado de Coahuila; hacia el sur con los municipios de Mina y Villaldama; al este con Villaldama; y al oeste con Mina. Su distancia a la capital del estado es de 100 kilómetros.<br>


<center>
    <img style="margin:12px 0 12px 0;" src="~/bustamantemapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>

<center>
    <b>
        Artesanias
    </b><br>
    <p>
        Se realiza cestería en base a tejido de palmito. Con este último insumo se hacen petates y sombreros.
        Se elaboran productos artesanales de madera tales como, mecedoras, sillas y mesas, cruces, servilleteros y otros.
    </p>
    <p>
        En el municipio se elabora pan al estilo artesanal; en horno abovedado de adobe y el cocimiento con leña.
    </p> <br>
</center>

<center>
    <b>Flora</b>
    <br>
    </center>


    Alamo Blanco, huizache, guajillo, nogal, aguacate, mezquite, tasajillo, nopal, gobernadora, palmito, higueras, orégano, anacahuita, tejocote, carrizo y maguey.

    <center>
        <b>
            Fauna
        </b> <br>

        Tigrillo, ardilla, zopilote, cuervo, faisán, aguililla, urraca, oso, gato montés, halcón, víbora, conejo, liebre y coyote.

    </center>
    <b>Recursos Naturales </b>
    <br>
    <p>
        Agua
        Recursos maderables
        Fosforita
        Barita
    </p>

    <center>
        <b>
            Monumentos Historicos
        </b><br>
        Templo de San Miguel Arcángel (1760)
        Casas habitación que bordean la Plaza de Armas.
        Monumentos dedicados al profesor Macario Pérez, a don Ignacio A. Santos González, a don Benito Juárez García y a Xicohténcatl Axayacatzin. <br>
    </center>
    <center>
        <img style="margin:12px 0 12px 0;" src="~/iglesiabustamante.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
    <center>
        
        <b>
            Fiesta Danza y tradicionales<br>
            Fiestas Populares
        </b>
        <p>
            Del 28 de julio al 6 de agosto se realiza un novenario en torno al Santo Cristo conocido como "El Señor de Tlaxcala", destinando cada día a grupos sociales con diferentes oficios y culminando en un rosario de aurora y una nutrida peregrinación con el Santo Cristo en andas.
        </p>
        <p>
            El 29 de septiembre se festeja a San Miguel Arcángel.
        </p>
        <p>
            <b>
                Danzas
            </b>
        </p>
        <p>
            Muy famosas las danzas conocidas como "comparsas" que se organizan para festejar al Señor de Tlaxcala.Grupos dancísticos mixtos ataviados al estilo de los matachines pero con penacho de plumas de guajolote y falda con espejos.
        </p>
    </center>

    <center>
        
        <b>
            Gastronomía
        </b><br>
        <p>
            Se guisa un exquisito cabrito horneado, pero lo más típico es lo que se conoce como el "arropado", que consiste en ir "empalmando" capas o camas de trozos de carne de res o ternera, cebolla, tomate y chile. Elconjunto de ingredientes sé cose con leña dentro de un disco especial de acero que está permanentemente cubierto.
        </p>

        <p>
            Otro guiso clásico es el arroz de boda que se sabrosea con nuez.
            El mezcal o aguardiente que se produce artesanalmente desde principios del siglo XVII tiene calidad de exportación.
        </p>
        <p>
            <b>Museo</b>

            El municipio cuenta con el Centro Cultural, Jorge A. Treviño que integra un área de exposición y la biblioteca y archivo histórico municipal que lleva el nombre de Desiderio Hernández Xochitiotzin.
        </p>
        <p>
            <b>Higrodrafía</b>
        <p>
            A lo largo del Cañón de Bustamante hay 48 veneros de agua. El mayor de ellos se encuentra al oeste del cañón y es conocido como el Ojo de Agua "San Lorenzo".
        </p>
        <p>
            Alimentada por esta fuente de agua, en el lugar que se conoce como las atarjeas, se bifurcan tres acequias (acequia Madre, Iglesia y Llanos de Valdez), construidas por los primeros pobladores en base a los conocimientos hidráulicos tlaxcaltecas.
        </p>

        <p>Las acequias Madre e Iglesia atraviesan la villa. Cuando hay precipitaciones fluviales se forman los arroyos Guadaña y el Vallado.</p>
    </center>


    <center>
        
        <b>
            Centros Turisticos<br>
        </b>
        <p>

            Puede hacerse mención a la belleza de la villa, sus 180,000 nogales, el majestuoso cañón con sus 10 parajes, el ojo de agua, los veneros y acequias, las portentosas sierras, las maravillosas grutas del Palmito (o de Bustamante) y las del Precipicio.
        </p>
        <p>
            Asimismo, las manifestaciones de cultura popular de la comunidad; hacen de San Miguel de Bustamante un sitio muy atractivo para fines turísticos. Además de los servicios de hotel dos estrellas, con magnífico restaurante y hostal con servicio de alimentos.
        </p>
        
    </center>

    <center>
        <img style="margin:12px 0 12px 0;" src="~/Bustamante12.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>


   
    <center>
        <a href="index2.php"><font color="#black">REGRESAR A LA PAGINA PRINCIPAL</font></a><br>
    </center>
</body> 
