
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
       
    <div id="page">
        <h1>Bienvenido </h1>
       


    <center>
        <b>
            Lugar Tur&iacute;stico.
        </b><br>
        Los principales atractivos tur&iacute;sticos de esta regi&oacute;n son los paseos del Nogalar, zona cubierta de frondosos nogales donde existe un magn&iacute;fico balneario con las instalaciones necesarias; tambi&eacute;n la Presa de Agualeguas, que es ideal para practicar el esqu&iacute; acu&aacute;tico, pasear en lancha y pescar r&oacute;balo, bagre, mojarra y sardina; adem&aacute;s los alrededores ofrecen a los cazadores, durante la temporada invernal, abundante pato de Canad&aacute;.<br>
    </center>
    <center>
        <img style="margin:12px 0 12px 0;" src="~/cadereytamonumento.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
</div>
Ubicaci&oacute;n. <p> Se encuentra al noreste del estado, en la región fisiográfica denominada llanura costera del golfo y en la zona económica noreste, ganadera-agrícola que está formada además por los municipios de Agualeguas, General Treviño, Melchor Ocampo y Parás.</p>

<p>a cabecera del municipio de Cerralvo se encuentra situada a los 26°05' latitud norte a los 99º 36' de longitud oeste, a una altura de 279 metros sobre el nivel del mar.</p>

<p>Limita al norte con el municipio de Agualeguas, al sur con los municipios de Dr. González y Los Ramones, al este con General Treviño, Melchor Ocampo y Los Herreras y al oeste con los municipios de Higueras y Marín.</p><br>


<center>
    <img style="margin:12px 0 12px 0;" src="~/cerralvomapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>

<center>
    <b>
        Artesanias
    </b><br>
    <p>
        Se realiza cestería en base a tejido de palmito. Con este último insumo se hacen petates y sombreros.
        Se elaboran productos artesanales de madera tales como, mecedoras, sillas y mesas, cruces, servilleteros y otros.
    </p>
    <p>
        En el municipio se elabora pan al estilo artesanal; en horno abovedado de adobe y el cocimiento con leña.
    </p> <br>
</center>

<center>
    <b>Flora</b>
    <br>
    </center>

    Matorral bajo espinoso, plantas desérticas y medicinales. Destacan la anacahuita y el chaparro prieto, así como la lechuguilla y el zacate buffet. También se tiene mezquite, granjeno, navajita roja, zacate escobilla, tenaza. Abunda la bola de jaboncillo y de las plantas medicinales se tiene la grina, cimarrona, el orégano, la savia, la mareola y el poleo.

    <center>
        <b>
            Fauna
        </b> <br>

        Especies menores, diversas clases de aves, víboras de cascabel, oso, gato montés, venado, tlacuache, armadillo y jabalí.

    </center>
    <b>Recursos Naturales </b>
    <br>
    <p>
        La sierra de Picachos, donde existen algunos fundos mineros, lomeríos y llanos que estructuran su relieve.
    </p>

    <center>
        <b>
            Monumentos Historicos
        </b><br>
        Kiosco de la plaza Hidalgo, edificio de las Cureñas, también conocido como Casa de la Moneda, la Casa Polo Sur, el templo San Gregorio Magno y capilla de Lourdes. Fortificación en los barrios Italia y el palacio municipal, también considerado como monumento histórico. <br>
    </center>
    <center>
        <img style="margin:12px 0 12px 0;" src="~/cadereytamonumento.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
    <center>
        
        <b>
            Fiesta Danza y tradicionales<br>
            Fiestas Populares
        </b>
        <p>
            Feria anual de Cerralvo, que festeja su fundación.
        </p>
        <p>
            <b>
                Danzas
            </b>
        </p>
        <p>
            Muy famosas las danzas conocidas como "comparsas" que se organizan para festejar al Señor de Tlaxcala.Grupos dancísticos mixtos ataviados al estilo de los matachines pero con penacho de plumas de guajolote y falda con espejos.
        </p>
    </center>

    <center>
        
        <b>
            Gastronomía
        </b><br>
        <p>
            Machacado con huevo, carnes asadas, guisado de res, diversas maneras de preparar el cabrito.
        </p>
        <p>
            <b>Museo</b>

            Existe un museo en el Parque Nacional "El Sabinal".
        </p>
        <p>
            <b>Higrodrafía</b>
        <p>
            Cerralvo es un municipio de arroyos y manantiales, en el no nace ni confluye ningún río. El río Sosa que en época de lluvia corre de tres a cuatro meses se encuentra en el sur del municipio. También se encuentran los ríos Mojarras, Sardinas y El Nogalito.
        </p>
    </center>


    <center>
        
        <b>
            Centros Turisticos<br>
        </b>
        <p>

            Plaza principal llamada plaza Hidalgo, que remonta a los inicios del siglo XIX, originalmente se le conocía como plaza de Armas, donde destacan frondosos álamos sembrados primeramente durante la ocupación norteamericana y la intervención francesa, para después completar 51 de los árboles sembrados, representando cada uno a un municipio del estado.
        </p>

        <p>Además cuenta con un hermoso kiosko de madera labrada, construido en 1904 y en 1978 se integró la plaza y la presidencia municipal convirtiéndose esta área en zona peatonal. En la sierra de picachos hay sitios aptos para la cacería de venado, oso, comadreja, así como para la pesca de robalo, mojarra y bagre.</p>

        <p>A seis kilómetros de la cabecera municipal está Nogalitos, fuente termal sulfuresca; en la comunidad Benavides se encuentra la fundición más antigua de metales.</p>

        <p>
            Sobresalen como obras de arquitectura religiosa la parroquia de San Gregorio Magno y la capilla de Lourdes de las que se dice están unidas por un túnel; por ahí se comunicaban los clérigos en los tiempos de la colonia para protegerse de los ataques de los indios y posteriormente en las guerras de independencia y revolución.
        </p>
    </center>

    <center>
        <img style="margin:12px 0 12px 0;" src="~/cerralvoarboles.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>

</body> 
