
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        
    <div id="page">
        <h1>Bienvenido</h1>

        <br>
        <div class="intro">
            El municipio se ubica en una región plana y de pocas elevaciones que carecen de importancia. Las zonas semiplanas y planas son el 100% de la superficie del municipio. El tipo de suelo del municipio está constituido en su gran mayoría por xerosol y en menos grado por vertisol.

        </div>
        Lugar Turistico.<br>
        La Casa del Burro, El Salto, La Presa Melchor Ocampo (para pescar), y la de abrevadero "El Guayacán" para pescar, ya que cuenta con muchas sombras de árboles como son los mezquites y huizaches, propios de esta región. También se puede visitar la Plaza Cívica, Miguel Hidalgo y Auditorio Municipal.
        Además del campo deportivo se cuenta con una alberca que aunque es particular se le presta cada año al DIF municipal para dar clases de natación a jóvenes, niños y adultos.
        

        <br> <center><img style="margin:12px 0 12px 0;" src="~/Melchoocampo1.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"></center><br>



    </div>
    Ubicación.<br>
    <br>
    El municipio de Melchor Ocampo se ubica en la parte noreste del Estado y bajo las coordenadas 25º03' de latitud norte y 99º33' de longitud oeste a 145 msnm. Limita al norte con General Treviño, al Sur con los Herreras, al este con Los Aldamas y al Poniente con Cerralvo.
    




    <div>
        <br>Flora 
        La flora está compuesta por mezquite, huizache, retama, anacahuita, nopales, chaparro prieto, anacua amargosa y ébano.
    </div>



    <div>
        <br>Fauna 
        La fauna está integrada por faisán, conejos, liebres, coyotes, tlacuaches, zorrillos, armadillos y tejones.
    </div>


    <div>
        <br>Fiestas y danzas tradicionales
        Hay festividades el 12 de diciembre en honor a la Virgen de Guadalupe y en Semana Santa es tradición de vivir el viacrucis por las calles participando jóvenes y adultos y el viernes santo por la noche se hace por las calles la procesión del silencio en señal de luto en compañía de la virgen.

        <br>La feria del maíz se hace cada año en el mes de octubre para festejar el aniversario del pueblo, ya que fue en el mes de octubre cuando salió el decreto de municipio libre en 1948, siendo establecida el 22 de octubre de 1986, siendo alcaldesa la Profesora Dalila Salinas Rivera y hasta la fecha se ha celebrado cambiando la fecha de hace 5 años haciéndola ahora en el mes de diciembre.
    </div>


    <center>
        <img style="margin:12px 0 12px 0;" src="~/Melchoocampo2.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>

    <br>
    
</div>
</body> 
