@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/logo2.php";
    ?>
    <div id="page">
        <h1>Bienvenido Santa Catarina</h1>
        <?php
    include "include/compartir.php";
    ?>

    <div class="intro">
        Santa Catarina se caracteriza por su Ca&ntilde;&oacute;n.
    </div>
    <center>
        Lugar Tur&iacute;sticos.<br>
        El Ca&ntilde;&oacute;n de la Huasteca goza de una gran riqueza natural, con su imponente barranco de piedra caliza y paisaje des&eacute;rtico
    </center>
    <center>
        <img style="margin:12px 0 12px 0;" src="~/Canon-De-La-Huasteca-68915.jpg" width="620" height="400" alt="Imagen para el intro" title="Vallecillo"><br>
    </center>
</div>
Ubicaci&oacute;n.<br>
Esta ubicada a 9 km. al poniente de Monterrey, formando parte del &aacute;rea conurbada, y encontr&aacute;ndose dentro de las coordenadas 25 41' latitud norte y 100 27' longitud oeste a una altura de 680 metros sobre el nivel del mar. Colinda al norte con Garc&iacute;a, Gral. Escobedo y Garza Garc&iacute;a; al oriente con Garza Garc&iacute;a, Monterrey y Santiago; al sur con Santiago y Coahuila y al poniente con Coahuila y Garc&iacute;a, N.L.<center>
    <img style="margin:12px 0 12px 0;" src="~/santa.jpg" width="250" height="300" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>

<center>
   
    <br> Flora
    En la monta&ntilde;a destacan las siguientes especies de &aacute;rboles Pinus cembroides o pi&ntilde;onero; arizonica o blanco; hartwegii, greggii, y durangensis etc.
</center>

<center>
    Fauna <br>
    Se encuentra como los venados cola blanca y bura, oso negro, puma (le&oacute;n americano) cacomixtles, mapaches, tlacuaches, zorrillos, jabal&iacute; onzas, armadillos y murci&eacute;lagos (no hay vampiro), ratas canguro ardillas, conejos, liebres, la poblaci&oacute;n de coyotes baj&oacute; mucho y lobos no se han reportado. Reptiles: Cr&oacute;talos o de cascabel abundante en la llanura noroeste al igual que la v&iacute;bora negra, el falso camale&oacute;n, lagartijas de collar y tortugas terrestres
</center>
<center>
   
    Fiestas y danzas tradicionales<br>

</center>
<center>
    <img style="margin:12px 0 12px 0;" src="~/santa-catarina-nuevo-leon-.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>




</body> 
