


@{
    ViewBag.Title = "China";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azulchina.php";
    ?>
    <div id="page">
        <h1>Bienvenido </h1>
        <?php
    include "include/compartir.php";
    ?>



</div><b>
    Ubicaci&oacute;n.
</b> <p> Se halla ubicado en la provincia de la Gran Llanura de Norteamérica en la subprovincia de las Llanuras de Coahuila y Nuevo León, localizándose en el extremo oriente del estado de Nuevo León, en las coordenadas 25°42' latitud norte y 99°14' longitud oeste, a una altura de 140 metros sobre el nivel del mar.</p>

<p>Limita al norte con Gral. Bravo, Dr. Coss y Los Aldama, N.L.; al noroeste con Los Herrera, N.L.; al oeste con Los Ramones, N.L.; al suroeste con Gral. Terán, N.L. y al sur y este con el estado de Tamaulipas. La distancia aproximada a la capital del estado, Monterrey, N.L. es de 116 kilómetros.</p><br>


<center>
    <img style="margin:12px 0 12px 0;" src="~/chinamapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>


<center>
    <b>Flora</b>
    <br>

    <p>
        ALa vegetación está clasificada como mezquital, matorral espinoso tamaulipeco; en el centro y norte como selva mediana subcaducifolia y áreas mínimas de pastizales cultivados. (Según la Dirección General de Geografía del Territorio Nacional).
    </p>

    <p>Las especies de vegetación más comunes son: mezquite (prosopis glandulosa), ébano (pithecellobium flexicoule), chaparro prieto (acacia amentacea), anacagüita (cordia boissieri), granjeno (celtis pallida), guayacán (porlieria angustifolia), barreta (helietta parvifolia), coyotillo (karwinskia humboldtiana), amargoso (castela texana), retama (cercidium macroum), cenizo (leoucophyllum frutescens), nopal (opuntia sp), brasil (condalia viridis), huizache (acacia farnesiana), tasajillo (opintia leptocaulis), junco (Koebenlinia spinosa), palma (yucca sp), colima (zanthoxylum fagara), salvia (croton torreyanus), uña de gato (mimosa sp), coma (bumelia spiniflora)</p>
    </center>


    <center>
        <b>
            Fauna
        </b> <br>

        Esta es variada: coyotes, víboras de cascabel, liebres, conejos, venados, jabalíes, tlacuaches, zorrillos, etc.

    </center>

    <b>
        Monumentos Historicos
    </b><br><p>
        La presencia indígena en el municipio se descubre por los testimonios dejados a su paso como: puntas de flecha, raspadores, fogones, puntas de flecha - pedernales -, petrograbados, manos de molienda y una pintura rupestre ubicada en el lugar conocido como "La Cueva de los Indios", en el rancho "El Nuevo Mirador".
    </p>
    <center>
        <img style="margin:12px 0 12px 0;" src="~/chinaiglesia.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>
    <center>
       
        <b>
            Fiesta Danza y tradicionales<br>
            Fiestas Populares
        </b>
        <p>
            Fiestas Patronales

            El 5 de febrero de celebra la festividad del Santo Patrón San Felipe de Jesús con una procesión desde la Loma de San Felipe hasta el templo para terminar con una misa solemne y por la noche con juegos pirotécnicos.
        </p>
        <p>
            Fiestas Populares
        </p>

        <p>La fiesta de la fundación del municipio se comenzó a celebrar en el año 1995 para conmemorar el 199° aniversario de este importante hecho; se realiza el 4 de junio con una verbena popular, música, juegos mecánicos, juegos pirotécnicos y eventos culturales durante la semana. Se festejan también con actos y desfiles cívicos las fechas históricas nacionales como el 21 de marzo, 5 de mayo, 16 de septiembre, 20 de noviembre.</p>
        <p>
            <b>
                Danzas
            </b>
        </p>
        <p>
            Muy famosas las danzas conocidas como "comparsas" que se organizan para festejar al Señor de Tlaxcala.Grupos dancísticos mixtos ataviados al estilo de los matachines pero con penacho de plumas de guajolote y falda con espejos.
        </p>
    </center>

    <center>
       
        <b>
            Gastronomía
        </b><br>
        <p>
            Se guisa un exquisito cabrito horneado, pero lo más típico es lo que se conoce como el "arropado", que consiste en ir "empalmando" capas o camas de trozos de carne de res o ternera, cebolla, tomate y chile. Elconjunto de ingredientes sé cose con leña dentro de un disco especial de acero que está permanentemente cubierto.
        </p>

        <p>
            Otro guiso clásico es el arroz de boda que se sabrosea con nuez.
            El mezcal o aguardiente que se produce artesanalmente desde principios del siglo XVII tiene calidad de exportación.
        </p>
        <p>

    </center>

    <center>
        
        <b>
            Centros Turisticos<br>
        </b>
        <p>

            China cuenta con maravillosos paisajes naturales como la presa de la Ceja, ubicada a 7 kilómetros al oeste de la cabecera. A las orillas de ésta se halla un sitio arqueológico donde se pueden admirar pinturas rupestres.
        </p>

        <p>Otros paseos naturales son el río San Juan, ubicado al norte de la cabecera y la presa Las Lajas ubicada al noreste de la misma, a las orillas de la presa hay asadores, juegos infantiles y mesas para los visitantes.</p>


    </center>
</body> 
