@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azulteran.php";
    ?>
    <div id="page">
        <h1>Bienvenido </h1>
        <?php
    include "include/compartir.php";
    ?>



</div><b>
    Ubicaci&oacute;n.
</b> <p>El municipio de General Terán, se encuentra ubicado en la región sureste citrícola entre las coordenadas 25º17' de la latitud norte y 99º10'de longitud este. Limita al norte con el municipio de Los Ramones; al sur son Linares, Montemorelos y el estado de Tamaulipas; al oriente con el municipio de China y al oeste con Montemorelos y Cadereyta Jiménez. Se encuentra a una altura de 230 metros sobre el nivel del mar.</p>


<center>
    <img style="margin:12px 0 12px 0;" src="~/teranmapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>


<center>
 <b>Flora</b>
    <br>

    <p>
        Es muy abundante y variada donde se pueden observar extensos campos de naranjales que perfuman el ambiente con su aroma de azahar, en la parte nororiental de tierra fértil podemos observar sabinos, sauces, encinos, álamos, alamillos jarilla, moreras, anacuas, etc. en la parte árida: nopales, palmas, samandoca, huizaches, mezquites, granjenos, tasajillos, etc.
    </p>
<b>Fauna</b>
    <br>

    <p>
        La fauna es igual de abundante formándose ésta de ganado caprino, ovino, vacuno, etc. este es de excelente calidad, en parte agreste podemos observar venado de cola blanca, armadillos, jabalís, coyotes y zorras y una variedad de serpientes y culebras; así mismo las aves son abundantes de las cuales podemos mencionar paloma blanca, torcazas, codornices, guajolotes silvestres, cenzontles, urracas, loros y cardenales, etc.
    </p>

</center>
<center>
    <b>
        Monumentos Historicos
    </b><br><p>
        Parroquia de Nuestra Señora de la Soledad, de arquitectura colonial, construida aproximadamente en el año de 1785.
    </p>

    <p>papilla dedicada a San Francisco de Asís, ubicada en el Ejido La Laguna a 4.5 km. de la cabecera municipal, se le supone una antigüedad anterior a la fundación de General Terán.</p>

    <p>
        El edificio que hasta hace algunos años albergó a la escuela para niñas "Benito Juárez" ubicada en la esquina de Morelos y Guerrero.
        Palacio municipal de General Terán, construido entre los años de 1925 a 1928.
    </p>
</center>

<center>
    <img style="margin:12px 0 12px 0;" src="~/generalestatua.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>

</center>
<center>
   
    <b>
        Fiesta Danza y tradicionales<br>
        Fiestas Populares
    </b>
    <p>
        Fiestas populares
    <p>-La del 31 de marzo que celebra la erección en Villa de General Terán. </p>
    <p>-La del 12 de diciembre en honor de la Virgen de Guadalupe. </p>
    <p>-15 de Mayo, procesión en el medio rural en honor de San Isidro Labrador.</p>
    <center>
        <img style="margin:12px 0 12px 0;" src="~/escobedoparque.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>

    </center>
    <b>
        Artesanias
    </b><br>
    <p>Quedan muy pocos artesanos en el municipio General Terán, que todavía se dedican a la fabricación y arreglo de carretas y monturas.</p>
    <p>
        <b>
            Museos
        </b>
    </p>
    <p>
        En el rancho de San José de Belén existe un museo rural que contiene diversos tipos de piezas arqueológicas de la región, cabe destacar que dicho museo ha sido formado por el entusiasmo y amor a la historia del Prof. José Cárdenas V. maestro de la escuela de dicha localidad.

    </p>
</center>

<center>
    
    <b>
        Gastronomía
    </b><br>
    <p>
        Un atractivo turístico con que cuenta nuestro municipio es la presa San José S. Noriega (Los Mimbres) ubicada en el ejido San Juan de Vaquerías a una distancia de 84 km. de la cabecera municipal, donde se realizan torneos de pesca que forman parte de un corredor turístico del Estado que comprende Cerro Prieto, Mimbres y El Cuchillo.

    </p>
    <p>

</center>

<center>
    
    <b>
        Centros Turisticos<br>
    </b>
    <p>
        Un atractivo turístico con que cuenta nuestro municipio es la presa San José S. Noriega (Los Mimbres) ubicada en el ejido San Juan de Vaquerías a una distancia de 84 km. de la cabecera municipal, donde se realizan torneos de pesca que forman parte de un corredor turístico del Estado que comprende Cerro Prieto, Mimbres y El Cuchillo.

    </p>


</center>
<center>
    <img style="margin:12px 0 12px 0;" src="~/escobedoarbol.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>

</center>

</body> 
