
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
       
    <div id="page">
        <h1>Bienvenido </h1>
       



</div><b>
    Ubicaci&oacute;n.
</b> <p>El municipio de General Treviño se encuentra al noreste del estado, en la región fisiográfica llamada gran llanura de norteamérica, en la zona denominada "Fidenor", ubicado en las coordenadas 26º28' de longitud oeste, a una altura de 188 metros sobre el nivel del mar.Sus límites son: al norte y oeste con Agualeguas, Nuevo León y Mier, Tamaulipas; al sur con Melchor Ocampo y al este con los Aldama.</p>


<center>
    <img style="margin:12px 0 12px 0;" src="~/treviñomapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>


<center>
   <b>Principales Ecosistemas</b>
    <br>

    <p>
        La flora de este municipio está compuesta por mezquite, fresno, palo blanco, ébano, encino, tepeguaje, pino y anacua.
    </p>

    <p>
        La fauna está integrada por liebres, jabalíes, armadillos, tejones, coyotes y calandrias.
    </p>

</center>

<b>
    Monumentos Historicos
</b><br><p>
    La iglesia de San José de corte moderno y monumental, se levanta a pocas cuadras de la plaza del lugar.
</p>


<p>El busto del Lic. Benito Juárez, ubicado en la plaza principal de la Cabecera Municipal y en la congregación San Javier, busto del General Jerónimo Treviño ubicado también en la plaza principal.</p>



<center>
    <img style="margin:12px 0 12px 0;" src="~/treviño1.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
    <img style="margin:12px 0 12px 0;" src="~/treviño2.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>

</center>
<center>
   
    <b>
        Fiesta Danza y tradicionales<br>
        Fiestas Populares
    </b>
    <p>
        La feria anual que inicia el 19 de marzo, en honor del Santo del Pueblo; el Señor San José..
    </p>
    <p>
        <b>
            Museos
        </b>
    </p>
    <p>

        El municipio cuenta con una Casa de la Cultura.
    </p>
</center>

<center>
    
    <b>
        Gastronomía
    </b><br>
    <p>
        Dentro de la comida tradicional se encuentra el tamal de elote, la carne seca y el cabrito. El típico dulce es el de fríjol.
    </p>
    <p>

</center>

<center>
   
    <b>
        Centros Turisticos<br>
    </b>
    <p>

        Muy concurrido el ojo de agua La Turbina, el cual brota al pie de un pequeño cerro, creando una cascada de 6 metros de altura y 18 ancho, con una corriente continua que forma un pequeño lago.
    </p>

    <p>Muy cerca de la cabecera municipal se puede disfrutar del Balneario San Martín. </p>


</center>
<center>
    <img style="margin:12px 0 12px 0;" src="~/generalultimo.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>

</center>

</body> 
