@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
        <?php
    include "include/azulescobedo.php";
    ?>
    <div id="page">
        <h1>Bienvenido </h1>
        <?php
    include "include/compartir.php";
    ?>



</div><b>
    Ubicaci&oacute;n.
</b> <p>Se ubica en el área metropolitana de Monterrey, al noreste del estado, sus coordenadas son 25º47'36" latitud norte 100º9'30" longitud oeste. Se encuentra hacia la frontera norte, sus límites son: los municipios de San Nicolás de los Garza, Monterrey y Santa Catarina; al norte: Hidalgo y El Carmen; al este: Apodaca y Salinas Victoria; y al oeste: García.</p>


<center>
    <img style="margin:12px 0 12px 0;" src="~/generalmapa.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>
</center>
<br>

</div>


<center>
   <b>Principales Ecosistemas</b>
    <br>

    <p>
        El tipo de vegetación que domina el territorio del Municipio es el de matorral sub-montano, matorral espinoso, mezquital, pastizal inducido, pequeñas áreas de agricultura de riego y de temporal que tienden a desaparecer ante la demanda de suelo urbano.
    </p>

</center>

<b>
    Monumentos Historicos
</b><br><p>
    Estatua ecuestre del general Mariano Escobedo, ubicada en la plaza principal.
</p>

<p>Las casonas construidas de sillar son, en sí, antiguos edificios históricos del municipio.</p>


<p>Históricos.- En la plaza de Juárez se encuentra un busto del Lic. Benito Juárez, en el Parque Miguel Hidalgo se halla la escultura del Padre de la Patria y un monumento a los fundadores de la ciudad de Doctor Arroyo.</p>
<center>
    <img style="margin:12px 0 12px 0;" src="~/generalestatua.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>

</center>
<center>
    
    <b>
        Fiesta Danza y tradicionales<br>
        Fiestas Populares
    </b>
    <p>
        La celebración anual de la feria que se realiza en Julio, en la fiesta del Apóstol Santiago.
    </p>
    <p>
        <b>
            Museos
        </b>
    </p>
    <p>
        La Casa de la Cultura y el Archivo Histórico que colaboran con la tarea educativa.
    </p>
</center>

<center>
    
    <b>
        Gastronomía
    </b><br>
    <p>
        La carne seca es procesada para preparar caldillo, carne saraza y el famoso machacado con huevo que con la Tía Lencha tuvo sus orígenes en ese pueblo y que hace más de cincuenta años ha dado gran fama a Ciénega de Flores. Los dulces que se elaboran en este municipio son: ricos turcos, empanadas, frituras de maíz y dulces de leche.
    </p>
    <p>

</center>

<center>
    
    <b>
        Centros Turisticos<br>
    </b>
    <p>

        Muy concurrido el ojo de agua La Turbina, el cual brota al pie de un pequeño cerro, creando una cascada de 6 metros de altura y 18 ancho, con una corriente continua que forma un pequeño lago.
    </p>

    <p>Muy cerca de la cabecera municipal se puede disfrutar del Balneario San Martín. </p>


</center>
<center>
    <img style="margin:12px 0 12px 0;" src="~/generalestatua.jpg" width="300" height="400" alt="Imagen para el intro" title="Allende"><br>

</center>
</body> 
