
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="style/estilo.css" rel="stylesheet" type="text/css" media="screen">

<body>
    <div id="inicio"></div>
    <div id="header">
       
    <div id="page">
        <h1>Bienvenido</h1>

        <br>
        <div class="intro">
            Entre los arroyos se encuentran el de las Casas, que es el que prácticamente divide al municipio y lo que históricamente fue el que dio origen al pueblo. A últimas fechas está semiseco mantenido sólo por el Ojo de Agua El Saladito, llamado así por su agua salobre y tradicionalmente dividido en el Charco del Perro, el Charco Largo y el Charco de la Vuelta; desemboca en el río Salinas.


        </div>
        Lugar Turistico.<br>
        El Ojo de Agua de Marín, a donde los habitantes acuden en días festivos. Para practicar la pesca deportiva se dispone de la presa de la Facultad de Agronomía de la Universidad Autónoma de Nuevo León (UANL).
       

        <br> <center><img style="margin:12px 0 12px 0;" src="~/Marin1.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"></center><br>



    </div>
    Ubicación.<br>
    <br>
    El municipio de Marín, se encuentra en el noreste de Nuevo León, a una latitud de 25º23' de una longitud oeste del meridiano de Greenwich de 100º02'. Limita al norte con Higueras, al sur con Pesquería, al este con Doctor González y al oeste con General Zuazua. Se encuentra a una altura de 393 metros sobre el nivel del mar.
   




    <div>
        <br>Flora 
        Esta compuesta de matorrales cuyos nombres son chaparro prieto, anacahuita, nopal, grangeno, huizache, palma china, guayacán, colima, cenizo, vara dulce, guajillo, coyotillo, mezquite, palo blanco, barreta, corvagallina, tenaza, hierba del potro y tasajillo. Dentro de los pastizales se encuentran el zacate buffet, estrella africana y navajita roja.
    </div>



    <div>
        <br>Fauna 
        Esta constituida principalmente por el coyote, liebre, tejón, conejo, urraca, tordo, zenzontle, gorrión, cardenal, chachalaca, patogorrillo. Serpientes como víbora de cascabel, la negra, de uña y coralillo.
    </div>


    <div>
        <br>Fiestas y danzas tradicionales
        El 15 de agosto se festeja a Nuestra Señora de la Asunción Patrona del pueblo, con misas, donde se le cantan las mañanitas a la Virgen, Primeras Comuniones de los niños, danzantes y juegos pirotécnicos.

        <br>El 16 de julio se recuerda la elevación de Villa con grandes fiestas que duran 9 días, estas fiestas se celebran en la Plaza Principal, en donde toda la gente del pueblo y de los pueblos vecinos se divierten escuchando grupos de música de moda, o admirando grupos de danza, hay juegos mecánicos, se instalan varios restaurantes donde se ofrecen una gran variedad de comidas como cabrito al pastor, fritada, sopa de arroz, frijoles refritos y a la charra, tacos, flautas, enchiladas, hamburguesas y muchos antojitos.

        <br>
        Otra tradicion es llevar a cabo una peregrinación días antes del 12 de diciembre, en honor de Nuestra Señora de Guadalupe, que va desde el municipio de Marín, hasta el de Higueras, Nuevo León. 
    </div>


    <center>
        <img style="margin:12px 0 12px 0;" src="~/Marin2.jpg" width="620" height="400" alt="Imagen para el intro" title="Allende"><br>
    </center>


    <br>
    
 
</div>
</body> 
